[2017-01-27 13:17] cincue commented on #274
Hi @TMSCH thanks for the reply. I am using gapi.auth2.

[2017-01-27 16:45] TMSCH commented on #274
Could you provide a snippet of code to reproduce this behavior? I was not able to reproduce the bug using `GoogleAuth.signIn()`.

[2017-01-27 18:31] cincue commented on #274
[code]

Code example from the [documentation page](https://developers.google.com/identity/sign-in/web/build-button).

[2017-01-27 21:37] TMSCH commented on #274
I am not able to reproduce this issue with your code... What are you passing as login hint? An email address?

[2017-01-27 23:20] TMSCH commented on #267
Hi @PDSBGreg,
We deployed a fix that will display the domain in the email input field.
The flow has been changed recently with the release of the new UI, so the user won't be redirected to your federation SAML server directly, but should be after the email address has been entered.
Could you test on your end and let me know if that works?
Thanks!

[2017-01-28 13:05] PDSBGreg commented on #267
I'm not seeing it come up with the domain. It's still just an empty line, allowing me to enter any email address. It's it possible that the fix hasn't hit all of the CDN sites?

Also, is there a reason why non mobile devices are directed automatically to the SAML server and mobile are not? Can't it work the same way for both like it used to?

[2017-01-29 00:23] kavithaLK commented on #266
Hi, I tried to use this fix in my project but still i am prompted with offline access consent. What am i missing?

 const params = {
        client_id: clientId,
        cookiepolicy: cookiePolicy,
        login_hint: loginHint,
        hosted_domain: hostedDomain,
        fetch_basic_profile: false,
        scope: "profile email",
      };
 window.gapi.auth2.init(params);

[2017-01-29 04:04] SVLayer commented on #265
Hi folks, any updates on the issue?

[2017-01-30 14:36] cincue commented on #274
Yes, I am passing an email address.

This should happen in the same browser session. Something that I see is that when I logout account A, I get redirected to a login screen where it's already showing me the last logged user (Account A), and asking directly for a password (and that's exactly the same screen I see when attempting to log account B).

Could it be that remembering the last user logged

[2017-01-30 17:57] TMSCH commented on #266
Hi  @kavithaLK,
Could you provide the full code snippet to reproduce the issue? (the `signIn()` call, any metatag elements containing configuration, etc.)
Thanks!

[2017-01-30 18:01] TMSCH commented on #265
Hi @SVLayer, are you still observing the issue? It seems that it had been fixed. If you are, please provide a code snippet that reproduces it, and any console/network logs that you observe. Thanks!

[2017-01-30 18:05] TMSCH commented on #274
Hi @cincue, I think I don't understand properly the method to reproduce the issue, as I'm not able to. When you say "log out" from the account, do you mean `signOut()` using the library or logging the user out from https://accounts.google.com?

[2017-01-30 18:49] cincue commented on #274
I mean logging the user out from https://accounts.google.com

In short:
1- Log user A in https://accounts.google.com
2- Log out user A from https://accounts.google.com
3- ````signIn()```` with login_hint = user B (or use my code above instead)

Make sure you reproduce it in the same session (start a new session, try it on incognito mode)

[2017-01-31 00:11] TMSCH commented on #274
Thanks for the further information! I was finally able to reproduce the issue, I was doing something wrong before. I'll investigate the issue and come back to you as soon as I have more info!

[2017-01-31 04:46] kavithaLK commented on #266
I am using react-google-login component which
https://github.com/anthonyjgrove/react-google-login/blob/master/src/index.js
I have set it up to pass fetch_basic_profile=false.

<GoogleLogin className="loginbutton" style={buttonStyle}
                         fetchBasicProfile={false}
                         scope = "profile email"
                         clientId={GOOGLE_ID}

[2017-01-31 12:57] cincue commented on #274
Great! @TMSCH I hope it can be fixed, let me know any update. Thanks!

[2017-01-31 20:36] stickfigure commented on #232
I'm having this exact problem. Calling `gapi.auth2.getAuthInstance().signIn()`, the account chooser pops up but when I select an account, the dialog closes and the then() callback is never called. Subsequent queries for login status indicate I am not logged in.

The first time through I had to approve the app. Everything seems like it's working except that I'm not getting logged in and the callbac

[2017-01-31 20:57] stickfigure commented on #232
Possibly related, I also find trying to call `gapi.auth2.getAuthInstance().signOut();` in a console window produces `Uncaught TypeError: Cannot read property 'postMessage' of null`. Even in the stripped-down success case in a standalone page (after successful login).

[2017-01-31 21:12] stickfigure commented on #232
OK, solved my problem. The issue is that by default Aurelia replaces the whole `<body>` with the app. When this happens, it stomps on the hidden iframe that gapi requires to communicate with Google. Solution is to create a div element inside body and attach the aurelia app to that.

Hope this helps someone else.

[2017-02-01 15:41] PDSBGreg commented on #267
I can see the change now. It's still strange to me that it works differently on mobile vs non-mobile (with mobile requiring more typing)...but it's better than it was now that the hosted domain is there and enforced. Thanks for the work-around.

[2017-02-01 18:58] TMSCH commented on #266
The URL seems correct, though the `prompt=consent` should not be there by default. Could you try removing the `&prompt=consent` parameter from the URL (in a text editor), then copy pasting the updated URL (with your actual client_id) in a new tab, and see if you're prompted for the Offline access?

[2017-02-01 23:19] TMSCH commented on #267
Oh great! I was investigating to see whether it could have been another issue. Good to know it was just delays in deployment.

Does it require more typing in mobile though? Don't you always have to enter the email address once, whether it is on the Google page or your own page?

As far as the difference between mobile and desktop is concerned, the behavior should soon become the same one, what you

[2017-02-02 00:09] PDSBGreg commented on #267
When we log into our PCs with Active Directory, then go to my app and click on the Google Sign-in button, there actually isn't any typing required at all. The user is auto-directed to our SAML sign-in page, which recognises the user because of being logged into AD, then Google returns the user info to the app (nice an simple).

On our non-AD connected Macs, clicking the Google Sign in button auto-

[2017-02-03 20:21] TMSCH commented on #25
Hi @DarkSilence, we are working on a fix, I will update this thread when it is released.

[2017-02-05 12:04] rochapablo commented on #35
Same here on Windows Phone browser.

[2017-02-05 12:06] rochapablo commented on #226
Same here on Windows Phone browser

[2017-02-06 14:24] vanderlin opened #275 "Not able to init client with hosted_domain"
[code]

When you call `gapi.auth2.getAuthInstance().signIn()` all domains are allowed.

[2017-02-06 17:41] TMSCH commented on #275
Hi @vanderlin, thanks for raising this issue. We are looking into it.

[2017-02-06 17:45] TMSCH commented on #35
Hi @anusoft, are you using gapi.auth or gapi.auth2? The former has been deprecated and we recommend migrating to the latter, which supports Safari in private mode.

@rochapablo, we haven't tested on Windows Phone. Are you also using gapi.auth? If not, please also migrate to gapi.auth2 when you can. Could you also provide the console logs of the error that is raised?

[2017-02-06 18:33] LeonardoRamos opened #276 "404 client.js"
Hello all,

From about 3 days ago, the client.js started firing a 404 error trying to access the url bellow:
_https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.pt_BR.SJf8KvYzc0I.…sv=1/d=1/ed=1/am=AQ/rs=AGLTcCMf8jNNllka_eqxUyAY5fP-UWF3dg/cb=gapi.loaded_1_

Because of this problem I can't perform auth actions nor get merchant data.
What can I do to solve this problem?

Regards,
Leonardo Ramos

[2017-02-06 19:58] bsittler commented on #276
Hi @LeonardoRamos - what script URL do you use to load the client? In my testing it seems to be working. I've tried the pt_BR lang using a technique like this one and it seemed to load successfully then, too: https://developers.google.com/+/web/+1button/#async-defer

[2017-02-08 02:19] TMSCH commented on #267
Thanks for the detailed report of these flows. I now understand why it is indeed not ideal in your use case.
If the issue is resolved, could you please close the issue?
Thanks!

[2017-02-08 02:23] TMSCH commented on #268
@renarsvilnis I am not able to provide a list of browsers that would fail, it is not a very consistent issue (it can change from version to version). Hence it is safer to not open a popup asynchronously.

[2017-02-08 02:25] TMSCH commented on #268
@jPeterek @renarsvilnis, we have updated the documentation to mention this issue: https://developers.google.com/identity/sign-in/web/reference#googleauththenoninit

[2017-02-08 13:15] PDSBGreg commented on #267
Sure thing.

[2017-02-08 13:16] #267 closed

[2017-02-08 14:49] diegocasmo commented on #232
I was having the same issue and ended up doing the following:

[code]

This is probably not ideal, but it worked for me.

[2017-02-08 14:58] jPeterek commented on #268
@TMSCH Thank you!

[2017-02-08 17:35] TMSCH commented on #232
@fozzle could you provide a minimal snippet that reproduces the issue? It works for me.

[2017-02-09 00:59] TMSCH commented on #272
Hi @cincue, we released a change that allows to handle unsupported environments. Here is the documentation: https://developers.google.com/identity/sign-in/web/reference#googleauththenoninit-onerror. You can now handle environments where Google Sign-In does not work, like Chrome for iOS in Incognito mode.

[2017-02-09 01:02] TMSCH commented on #260
@mbloch @asadovsky we released a change that allows you to gracefully degrade under such environment, please have a look at the documentation: https://developers.google.com/identity/sign-in/web/reference#googleauththenoninit-onerror.

[2017-02-09 13:14] cincue commented on #272
That's great !! It is helpful, thanks a lot.

[2017-02-09 14:30] czzarr commented on #232
I'm having the same problem
Here's a pug template that you can easily render with the simplest express app:
[code]

[2017-02-09 14:50] czzarr commented on #265
Still observing this issue with `signIn()`

[2017-02-09 16:45] czzarr commented on #13
bump

[2017-02-09 18:17] TMSCH commented on #232
Hi @czzarr, thanks for the snippet. I was indeed able to reproduce the issue with it.
The parameter `prompt: 'none'` seems to have unveiled an edge case that make the promise never resolve. We will investigate this bug.

However, this parameter is not meant to be used when using Google Sign-In JS library. By passing `prompt: 'none'` as parameter, you require the Authorization endpoint **not to dis

[2017-02-09 18:44] TMSCH commented on #13
Hi @Roaders, I apologize that this issue has been opened for so long. I will try to help. It seems that you are using gapi.auth. This library has been deprecated and we recommend migrating to gapi.auth2. This new library handles properly logging the user back in on initialization, and also handles token refresh. Head over [here](https://developers.google.com/identity/sign-in/web/) for more informa

[2017-02-09 19:04] bochunz commented on #275
@vanderlin, we have fixed the problem, could you please try again? (Don't forget to clear your browser cache to make sure you download the newest version.)

[2017-02-10 14:51] flawiddsouza commented on #13
@TMSCH I'm using auth2. I already get the option to select accounts but selecting anything other than the main account has no effect. It just refuses to login.

[2017-02-10 20:18] TMSCH commented on #13
@flawiddsouza I was able to successfully sign in with multiple accounts on your app. There was some issues with the actual youtube feature but the authentication seemed to work fine. What exactly happens for you? Could you give me a step by step process to try to reproduce the issue?

[2017-02-10 21:06] czzarr commented on #232
Hi @TMSCH,
Thank you for your quick answer. I'm not sure I understand clearly when `prompt: 'none'` should be used then?
More importantly, how do you sign in someone who has already authorized the app with the correct scopes without prompting for consent? (what used to be `immediate: true`)

[2017-02-10 21:11] czzarr commented on #13
Hi @TMSCH
Would it be possible to have a snippet that shows how to do token refresh and handle multiple accounts so that the user can select the correct one only after having transparently tried the currently signed in one? (the web sign-in documentation isn't clear to me, and there is little consistency between samples which further adds to the confusion)

[2017-02-10 22:11] flawiddsouza commented on #13
@TMSCH Did you check your chrome console (assuming you're using chrome)? First account always authenticates fine, selecting the second or third account returns this error:
`Object {type: "tokenFailed", idpId: "google", error: "USER_LOGGED_OUT"}`

[2017-02-11 00:24] TMSCH commented on #13
@flawiddsouza I do get an error upon signing in another user but this is related to a call to the Youtube API, I don't get the error you get. Here is what I do:

- On https://accounts.google.com, I ensure I have more than 1 account currently logged in to Google.
- Go to https://flawiddsouza.github.io/youtube-playlist-viewer/
- Click "Authorize"
- Sign in using user1@gmail.com. It works fine.
- Cli

[2017-02-11 00:25] TMSCH commented on #232
@czzarr when using `gapi.auth2`, the library will take care of automatically signing in the user if they were previously signed in to the app in an earlier session. This is similar to the `immediate: true` mode of `gapi.auth`. Which is why `prompt: 'none'` is not meant to be passed as a parameter when this library is used.

Are you using the `refresh_token` in the backend to perform server to serv

[2017-02-11 02:26] TMSCH commented on #234
Hi @rhashimoto, this method is now documented: https://developers.google.com/identity/sign-in/web/reference#googleuserreloadauthresponse

[2017-02-11 11:05] czzarr commented on #232
@TMSCH When you say `gapi.auth2` will take care of automatically signing in the user, are you talking about using the `GoogleAuth.signIn()` method without any parameter?

I still need to store the `refresh_token` on the back-end because I use it to renew channels to the Drive Push API. I use `GoogleAuth.grantOfflineAccess()` to launch a back-end auth flow.

Also when exactly should one use `Google

[2017-02-11 19:25] flawiddsouza commented on #13
@TMSCH This is bizarre, I followed the same steps. I still get the same error. It never signs to the second or third account but it always accepts the first one. There's are a few stackoverflow threads on this: https://stackoverflow.com/questions/34507769/google-login-fail-with-youtube-accounts
https://stackoverflow.com/questions/37951665/google-sign-in-gives-error-when-swiching-to-secondary-youtu

[2017-02-11 19:50] TMSCH commented on #232
@czzarr `gapi.auth2.init({...})` will take care of automatically sign in the user, but a previous call to `gapi.auth2.signIn` is necessary for this to happen. In other words, once the user has signed in *once* to your app, they will automatically be signed in anytime they reload it in their browser.

`GoogleAuth.grantOfflineAccess()` is indeed the method to call to get a `code` exchangeable for a

[2017-02-11 20:07] TMSCH commented on #13
@flawiddsouza what do you mean by sign-in to a YouTube channel? This is maybe why I can't reproduce this. I used two Google accounts for which I had created YouTube channel. Is that the same thing than you did?

[2017-02-11 20:42] flawiddsouza commented on #13
YouTube gives you an option to create multiple channels. These individual channels are given their own google accounts. See: https://www.youtube.com/channel_switcher. The account selector thus treats them as individual accounts, even if you're logged into a single account. Going to https://accounts.google.com/ shows that I have three accounts. 2 belonging to the youtube channels. I can login to th

[2017-02-12 11:56] czzarr commented on #232
@TMSCH ok thank you, it's clear now. Do you have an ETA on when the new feature might be available? (btw, on a random note, we both went to Centrale Paris)

[2017-02-13 10:44] davemorrissey opened #277 "GoogleAuth.signIn promise is not resolved (new issue started 12th Feb)"
We use a customised login button on our site, to allow coexistence with other login methods. We trigger the OAuth popup with a call to `GoogleAuth.signIn`. Since Sunday 12th Feb, with no code changes on our end, this has stopped working - the `Promise` returned by this method is not resolved or rejected.

Our setup
--

Load `https://apis.google.com/js/platform:client.js`

Initialise the `GoogleAut

[2017-02-13 11:51] davemorrissey commented on #277
As of 11:40GMT this seems to have started working again, intermittently at first and now more reliably - it looks as though a fix is being rolled out. I'll leave this open for confirmation.

[2017-02-13 14:07] PDSBGreg commented on #277
I'm seeing the same thing. I'm getting a "Can't close the window since it was not opened by javascript" error and an "invalid origin" error on the lso.relayAuthResponse() call.

Like davemorrissey, no code changes on my end and it has been working since initial implementation in Q1 2016.

[2017-02-13 14:11] PDSBGreg commented on #269
Is the JS client library refreshing the token automatically a new feature? When I implement gapi.auth2 last year the auth token invalidated itself every hour and never refreshed.

[2017-02-13 14:39] PDSBGreg opened #278 "Google Sign-in on iOS not working"
My iOS application is essentially a WKWebView and has been using the web-flow sign-in process for about a year without any issues.

Today, however, our users can't log into the iOS version of the app at all (the Android version still works). After what appears to be a successful login (according to the debug window), the pop-up window throws two errors. The first is one is "Can't close the window

[2017-02-13 18:53] TMSCH commented on #269
This is not a new feature. How do you get the token? Once a user is signed in, `gapi.auth2` automatically refreshes the token. You should be able to get a valid one at all time, by calling [`GoogleUser.getAuthResponse(true)`](https://developers.google.com/identity/sign-in/web/reference#googleusergetauthresponseincludeauthorizationdata). Have you tried recently?

[2017-02-13 18:56] PDSBGreg commented on #269
Nope. Maybe I just didn't see that in the docs when I started writing the app last year.

I worked around it by getting a refresh token for the server and then having my server get a new auth token at ~50 minute intervals. It works well...but I'll look into changing that to use the method you mentioned above. Thanks.

[2017-02-13 19:52] TMSCH commented on #278
HI @PDSBGreg, sorry about what seems to be a regression. The "invalid_origin" error is different: this method expects arguments and raise an error if not received.
What are you using to have your app run in a WKWebView? Cordova? Is there any chance the WKWebView plugin has been updated recently?

[2017-02-13 19:58] PDSBGreg commented on #278
It's a self-made Cordova (but basically that). Cordova doesn't (or didn't anyway) let you encode videos to specific formats or audio the way we needed it. This is affecting all iOS versions that we've tested as of this weekend (9.3.5 up to 10.2.1). 10.2.1 is new-ish (out a couple of weeks ago), but it was working Friday and isn't today. 9.3.5 was released at some point last year.

[2017-02-13 20:22] TMSCH commented on #277
Hi @davemorrissey are you still observing the issue? Is there any logs in the console? Have you tried using "email profile" as scope instead of just email?

[2017-02-13 20:38] TMSCH commented on #278
Just to confirm: are you using `gapi.auth2`?

[2017-02-13 20:42] TMSCH commented on #13
@flawiddsouza thanks for the further information. I was able to reproduce the issue now. We are going to investigate, I'll keep this thread updated.

[2017-02-13 20:58] TMSCH commented on #232
Small world! I can't provide a precise ETA for this feature unfortunately.

[2017-02-13 21:03] davemorrissey commented on #277
I'm still seeing this on more than 50% of login attempts but it is not consistent. Yes I tried scope "email profile" but this made no difference and we've been using "email" successfully for months. There is nothing reported to the console, either on our page or in the OAuth poup window.

[2017-02-13 21:24] davemorrissey commented on #278
@PDSBGreg Re. #277 we haven't seen any errors in the console, and this relates to the web only, so the symptoms are different but it may be a related regression. We also have Cordova apps with Google auth on Android (using cordova-plugin-chrome-apps-identity) and iOS (using cordova-plugin-googleplus) and these are both unaffected by this issue. The googleplus plugin was the only one we could find

[2017-02-13 22:06] PDSBGreg commented on #278
Yes, we're using gapi.auth2.

-- The following may or may not be related...

I'm not exactly sure how I would be able to use a Cordova plugin without Cordova. At this point I'm looking into using the iOS Google SignIn code. The problem with it, though, is that it uses Safari and cookies to handle the log in / out. And, since we're on shared devices (between staff and students at the school board),

[2017-02-13 22:11] TMSCH commented on #277
@davemorrissey  Is there any network call that failed, in the main page?

To further debug (as I can't reproduce it myself), could you add this code:

[code]

before calling `signIn` (you can just copy and paste this snippet in the console before clicking the button), and let me know what's logged in the console?

[2017-02-13 22:32] TMSCH commented on #278
@PDSBGreg thanks for the details. The Google Sign-In iOS SDK indeed relies on Safari and cookies to improve the sign-in experience, however, in your use case, this is detrimental. Have you considered asking your users to enable Private Mode on their devices? Once enabled, all Safari views should be using this mode, so I think this would allow to keep the signed-in Google account restricted to the

[2017-02-13 22:38] PDSBGreg commented on #278
Private mode in Safari breaks some of the in house web-only applications that use sessionStorage (pop-up windows don't inherit sessionStorage items in private mode...or, again, they didn't used to). It also blocks the single sign on information behind our Active Directory.

Looks like I'll be looking at re-writing the login process. Do you know how the request for offline access with Google Drive

[2017-02-13 23:12] TMSCH commented on #278
@PDSBGreg I am not entirely sure to understand your question: do you need to get an offline code to access Google Drive? Could you use this: https://developers.google.com/identity/sign-in/ios/offline-access?
I think setting the `serverClientId` would allow to get both `idToken` and `code`.

[2017-02-13 23:15] PDSBGreg commented on #278
Yes, something like that. I'll see if I can get that working tomorrow.

Thanks. ... I guess there isn't any change of rolling the code back to before whatever got pushed out over the weekend?

[2017-02-13 23:40] TMSCH commented on #278
As `gapi.auth2` do not officially support WKWebView, and, more importantly than that, we have deprecated OAuth login in UIWebView/WKWebView (see [blog post](https://developers.googleblog.com/2016/08/modernizing-oauth-interactions-in-native-apps.html)) we are not able to roll back the code for this reason.

[2017-02-13 23:44] PDSBGreg commented on #278
Interesting. I wish I would have seen that sooner!

Last comment for the night. Any idea how I can connect the idToken, etc that I receive from the iOS SignIn code back to gapi.auth2.getAuthInstance() and the Google Drive javascript library ... gapi.client.load('drive', 'v3') ...? Since all of the application logic is held in the web view?

[2017-02-14 01:11] TMSCH commented on #278
This is currently not possible to use `gapi.client` with a token received externally (i.e. not obtained through `gapi.auth` or `gapi.auth2`). In your use case, you probably have to query yourself the endpoints instead of using `gapi.client`.

[2017-02-14 08:49] davemorrissey commented on #277
This is logged...

    {
	"method": "fireIdpEvent",
	"params": {
		"type": "authResult",
		"clientId": "...",
		"id": "...",
		"authResult": {
			"id_token": "...",
			"login_hint": "...",
			"client_id": "..."
		}
	},
	"rpcToken": "..."
    }

... but still the promise is not resolved.

[2017-02-14 09:31] davemorrissey commented on #277
On the occasions when auth **succeeds** we get this second call:

    {
	"method": "fireIdpEvent",
	"params": {
		"type": "sessionSelectorChanged",
		"newValue": {
			"hint": "...",
			"disabled": false
		},
		"domain": "...",
		"crossSubDomains": true
	},
	"rpcToken": "..."
    }

It's this call which doesn't happen on the unsuccessful attempts.

[2017-02-14 13:15] PDSBGreg commented on #278
Ok. Looks like I have a lot of re-writing ahead of me. I'll close this since it won't be fixed.

[2017-02-14 13:15] #278 closed

[2017-02-14 16:50] TMSCH commented on #278
Thanks for your understanding!

[2017-02-14 20:41] jessehattabaugh commented on #144
Is it really a "Promise" if it doesn't always resolve?

[2017-02-14 23:06] TMSCH commented on #144
Hi @jessehattabaugh, please refer to the issue #25. We are working on a fix. Closing this one in favor of the other issue.

[2017-02-14 23:06] #144 closed

[2017-02-15 01:22] TMSCH commented on #277
Thanks @davemorrissey for the further information. I am investigating, but still cannot reproduce the issue so it is a bit difficult for me. I have tried Chrome and Firefox on Ubuntu and Mac OSX Sierra.

I'm using this snippet: http://jsbin.com/soxikemaku/1/edit?html,output with my clientId. Does it work for you there?

Are you using special Google accounts, like YouTube channels? Could you actual

[2017-02-15 12:56] davemorrissey commented on #277
I've tried that snippet with our client ID and it works reliably, even though we're still seeing intermittent failures with our own app. We're not using any special google accounts and the problem has been reported by some of our customers.

Our code runs on a website. You can try it here: https://remote.screentimelabs.com/#/login - if you use the `Log in with Google` button, no account will be cr

[2017-02-15 14:24] davemorrissey commented on #277
I've worked out why this happens in our code. If the user closes the OAuth popup, the `signIn` promise is not rejected, so to detect this we added a popup watcher, which overrides `window.open` and checks whether the popup is closed unexpectedly, rejecting a promise if so. For reasons I can't explain, it seems this intermittently stops some of the messages being sent, but there's no pattern to it.

[2017-02-15 15:50] mattcarpenter commented on #277
`GoogleAuth.signIn()` is failing to resolve or reject its promise in a project I'm working on. We also have a popup watcher that overrides `window.open` but disabling this had no effect on the `GoogleAuth.signIn()` failure. In my case, gapi is throwing a `Object {error: "idpiframe_initialization_failed", details: "Not a valid origin for the client."}` exception upon initialization and no postMessa

[2017-02-15 20:28] TMSCH commented on #277
@davemorrissey we're actually going to push a new version soon that handles popup closing :)

@mattcarpenter have you whitelisted https://localhost:3001/ in your client_id origins?

[2017-02-15 20:52] mattcarpenter commented on #277
@TMSCH I have both `https://localhost:3001/` and `http://localhost:3001` origins whitelisted, as well as the origin of the site loading the localhost:3001 iframe.

[2017-02-15 22:32] TMSCH commented on #277
@mattcarpenter could you provide the network logs? I'm especially interested in calls to `https://accounts.google.com/o/oauth2/iframerpc` (please copy and paste the requests payloads and responses of these calls). If you don't see one with `?action=checkOrigin` query parameter, please try to clear the cache and retry (or use an Incognito window). Thanks!

[2017-02-16 01:42] mattcarpenter commented on #277
@TMSCH I've copied the request and response below. I can also provide a HAR with a sequence of all requests and responses if you'd find that useful.

Request:
[code]

Response
[code]

[2017-02-16 01:55] TMSCH commented on #277
Hmm it's weird, it does seem that `https://localhost:3001` is not whitelisted for client_id `121699300049-9al32to5uojfvelraq612f11jcira9vu.apps.googleusercontent.com`. Maybe remove the trailing slash from the whitelisted URL in the console?

[2017-02-16 02:03] mattcarpenter commented on #277
@TMSCH That fixed it! Thanks for the assistance.

[2017-02-16 02:34] TMSCH commented on #277
Awesome!

@davemorrissey @mattcarpenter closing the popup now rejects the Promise of `signIn` and `grantOfflineAccess`.

@davemorrissey please close the bug if you consider this issue solved! Thanks.

[2017-02-16 02:39] TMSCH commented on #269
@Jeckstart could you expand a bit more on your use case?

[2017-02-16 02:47] TMSCH commented on #268
@jPeterek would you mind closing the bug if you think the documentation is enough? We are unlikely to change this behavior as this would break the current API.

[2017-02-16 02:48] TMSCH commented on #266
@kavithaLK have you been able to try without the query parameter?

[2017-02-16 03:13] TMSCH commented on #259
This does not concern the JS SDK, please ask your question on StackOverflow.

[2017-02-16 03:13] #259 closed

[2017-02-16 03:16] TMSCH commented on #258
@Nilesh-P could you try again? We recently made some changes that may catch the error raised.

Update this bit of code before to display the error if any is raised:

[code]

[2017-02-16 03:18] TMSCH commented on #257
@miteshpant gapi.auth2 is not meant to be used like that. You should follow @bochunz advice if you want to verify the clientId. Closing this issue.

[2017-02-16 03:18] #257 closed

[2017-02-16 03:20] TMSCH commented on #256
Hi @robert-king what is your question about? Is it about gapi.client or gapi.auth2?

[2017-02-16 03:22] TMSCH commented on #253
@carmatdaw Thanks for the info! Have you been able to migrate to gapi.auth2?

[2017-02-16 03:24] TMSCH commented on #246
Duplicate of #260. Closing this one.

[2017-02-16 03:24] #246 closed

[2017-02-16 03:24] TMSCH commented on #245
@geoffdavis92 we have made some updates in gapi.auth2 recently that may have fixed your problem. Could you try again?

[2017-02-16 03:26] robert-king commented on #256
hmmm try google generating typescript models from api for strongly typed client.
something like this [typewriter](https://kamranicus.com/posts/2016-02-02-typewriter )

[2017-02-16 03:27] TMSCH commented on #243
@vhmh2005 at what point is the error happening? On initialization or calling `signIn`?

We have added a onError callback to the `then` method that should help you: https://developers.google.com/identity/sign-in/web/reference#googleauththenoninit-onerror. An invalid `client_id` would be caught there.

[2017-02-16 03:29] TMSCH commented on #242
This is working as intended, there is no way to reset gapi.auth2 as it has not been designed to support such use case. If you want to validate `client_id`, you should use a different method. Closing this issue.

[2017-02-16 03:29] #242 closed

[2017-02-16 03:30] TMSCH commented on #239
@ZeMaTT @gilrm92 we are working on implementing the same behavior than `gapi.auth` in `gapi.auth2`. I'll update this thread when it's released!

[2017-02-16 03:33] TMSCH commented on #238
@Eljoy @devravi `gapi.auth2` relies on an IFrame to sign in and sign out users. If your application recreates the entire content within `<body>` tags, the IFrame can be removed and this would happen.
Could you confirm this is not the case? You could inspect the content of `<body>` after reloading the state. Otherwise, please provide a minimal snippet of code to reproduce the issue.

[2017-02-16 03:35] TMSCH commented on #237
@phuwin when gapi.auth2 initializes, it will automatically load the previously signed in user. If you call `signIn`, this is expected that the user is prompted to select an account. Also, you should call `signIn` synchronously after a user interaction (such as a click) otherwise some browsers will block the popup.

Please refer to the doc for more information: https://developers.google.com/identit

[2017-02-16 03:37] TMSCH commented on #236
@xd1936 @cyberaleks @PatTheMav we are working on addressing this issue. I'll update this thread when I have more information.

[2017-02-16 03:38] TMSCH commented on #235
@spacenick Have you been able to make it work on Safari Private mode?

[2017-02-16 03:40] TMSCH commented on #234
Closing this issue as this method is now documented. `gapi.auth2` also handles refreshing the token automatically every hour.

[2017-02-16 03:40] #234 closed

[2017-02-16 03:44] TMSCH commented on #232
@fozzle @digggggggggg @santihbc @afterburn @phuwin @miltonhultgren @jbomeyer could you try again? We have fixed several issues and this may cover your use cases. If you still observe the issue though, could you please provide:

- Any javascript error displayed in the console
- Any network error displayed in the console
- The browser (and its version) used to reproduce the error, and any special mo

[2017-02-16 03:46] TMSCH commented on #229
Hi @jack-fdrv this is not possible to authenticate the user without any popup, it goes against the design of OAuth. Closing this issue as working as intended.

[2017-02-16 03:46] #229 closed

[2017-02-16 03:47] TMSCH commented on #227
Hi @ravindrasapkal, this is working as intended, some users do not provide their gender.

[2017-02-16 03:47] #227 closed

[2017-02-16 03:50] TMSCH commented on #256
@robert-king thanks for the follow up. I don't understand how this applies to `gapi.client` or `gapi.auth2`. Could you be more specific? Is it .d.ts files for `gapi.client` that you are looking for?

[2017-02-16 04:12] TMSCH commented on #225
Hi @pramock4bs I don't think I understand fully. Are you using `gapi.auth2` to authenticate the user?

[2017-02-16 04:13] TMSCH commented on #223
@karthikeyan-vk `gapi.auth.authorize` has been deprecated, please migrate to `gapi.auth2`. Doc: https://developers.google.com/identity/sign-in/web/sign-in. However, we do not officially support windows mobile so there's no guarantee it will work.

[2017-02-16 04:14] TMSCH commented on #222
Hi @dfournier have you been able to resolve your issue?

[2017-02-16 04:19] TMSCH commented on #219
Thanks for reporting this issue @yk1711. We are working on a fix.

[2017-02-16 04:22] TMSCH commented on #218
Hi @cowsrule, we recommend migrating to the more recent `gapi.auth2` library as `gapi.auth` is now deprecated. Doc: https://developers.google.com/identity/sign-in/web/sign-in if you are still experiencing the bug. Otherwise, please close the issue. Thanks!

[2017-02-16 04:28] TMSCH commented on #214
Thanks for raising this issue, and sorry for the late reply. We are investigating.

[2017-02-16 04:30] TMSCH commented on #213
@Burtan we are working on a new feature that would allow several `client_id` in the same app. I'll keep this thread updated.

[2017-02-16 04:33] TMSCH commented on #209
Thanks @frutality for the information on how to fix this issue. Closing this bug.

[2017-02-16 04:33] #209 closed

[2017-02-16 04:35] TMSCH commented on #207
Hi @mvolodin, sorry for the late reply. Could you try again with the following snippet:

[code]

and report any console logs?

[2017-02-16 04:36] #205 closed

[2017-02-16 04:38] TMSCH commented on #203
Thanks @michal-husak for your solution. As `gapi.auth` is now deprecated, we recommend moving to `gapi.auth2` that handles automatic token refresh. Doc: https://developers.google.com/identity/sign-in/web/. Closing this issue as a solution has been provided and migrating to GSI v2 fixes the issue.

[2017-02-16 04:38] #203 closed

[2017-02-16 04:43] TMSCH commented on #196
Hi @JaKXz, this is a good point. `gapi.auth` is now deprecated so the doc has been removed, however, we should document error messages for `gapi.auth2`.

[2017-02-16 04:47] TMSCH commented on #194
Hi @Kufert, node-webkit is not a supported environment so server-side authentication is the way to go!

[2017-02-16 04:47] #194 closed

[2017-02-16 04:57] TMSCH commented on #193
@SharmilaEsri sorry for the late reply. Are you still experiencing this issue? `gapi.auth` has been deprecated,  could you please migrate to the new version `gapi.auth2`?
Doc: https://developers.google.com/identity/sign-in/web/

[2017-02-16 05:00] TMSCH commented on #192
@Deepti1271 I apologize for the very late reply. I imagine you had to find a workaround or switch to a different solution. Is there still something I could help you with?

[2017-02-16 05:37] TMSCH commented on #190
Hi @anyatran, sorry for the very late reply, have you figured out a solution? A 401 error means that you are not authorized to access the resource. I would assume that you do have to authenticate to access your Google Analytics.

[2017-02-16 05:40] TMSCH commented on #188
This, by JavaScript design, cannot be done as gapi requests require performing an HTTP requests. Closing this issue.

[2017-02-16 05:40] #188 closed

[2017-02-16 05:43] TMSCH commented on #180
Hi @ovoytovich, sorry for the very late reply. `gapi.auth` has been deprecated, we recommend migrating to `gapi.auth2` that works under IE11. Doc: https://developers.google.com/identity/sign-in/web/. Closing this issue as the new library supports IE11.

[2017-02-16 05:43] #180 closed

[2017-02-16 05:46] TMSCH commented on #176
`gapi.auth2` now supports iPhone and iPad. Closing this issue as obsolete.

[2017-02-16 05:46] #176 closed

[2017-02-16 06:11] Kufert commented on #194
Oh wow never thought I'll hear back :) thanks for the update!

[2017-02-16 08:07] xd1936 commented on #236
@TMSCH So glad to hear that! Looking forward to your updates.

[2017-02-16 08:18] lchhieu opened #279 "How to get refresh token while using Google API JS Client"
I can't login google client using google api client php. I get error miss refresh  token
I need to know how can I get the refresh_token when the user grants access for the first time so that I can save it.

[2017-02-16 08:19] davemorrissey commented on #277
Thanks, I'll try this tomorrow.

[2017-02-16 13:19] ristinolla opened #280 "gapi.auth.authorize doesn't callback when landing page with back button"
On our Angular app we are using the `gapi.auth.authorize` -function to authenticate users. It works fine when the user lands on the page or refreshes the page, but when landing on the page via browsers back button the function doesn't fire the callback function at all. The weird part is that this behaviour happens only on Chrome (56.0.2924.87) both on Windows and Mac.

I've tested the behaviour on

[2017-02-16 16:05] carmatdaw commented on #253
We haven't upgraded.  Other than this error, we aren't having any issues with the version we're using.  I'm not sure what immediate benefits we'd get from doing the work to update to the new version.  Is there are compelling reason for us to update to the new version?

[2017-02-16 16:24] dfournier commented on #222
Yes, by using a classic OAuth authentification with our server. It's much more a workaround than a real solution.

If I remember well, at the time of the issue, the problem was the children window cannot access parent frames. Maybe Electron solved the problem in the meanwhile...

[2017-02-16 18:57] TMSCH commented on #194
You're welcome! Sorry it took so long...

[2017-02-16 18:59] TMSCH commented on #279
@lchhieu using `gapi.auth2`, you can obtain a code that is exchangeable for a refresh token in your server. See: https://developers.google.com/identity/sign-in/web/server-side-flow. However, if you use `gapi.client` to make authenticated requests to Google APIs, you don't need to handle yourself the `refresh_token`: `gapi.auth2` will take care of that in the client.

[2017-02-16 19:43] bsittler commented on #258
Chrome Extension is not a supported environment. See https://developers.google.com/api-client-library/javascript/start/start-js#supported-environments - Chrome Extensions run in a restricted execution context.

[2017-02-16 19:43] #258 closed

[2017-02-16 19:51] TMSCH commented on #222
Thanks for the update @dfournier. As Electron is not a supported environment, server-side authentication is a way to go for now. We'll have to investigate whether we can support such environment. Closing the bug for now, I'll reopen a new one if we plan on supporting it with the newest library, `gapi.auth2`. Thanks!

[2017-02-16 19:51] #222 closed

[2017-02-16 22:08] TMSCH commented on #253
@carmatdaw the newer version is more secure and reliable. It may also fit better your use case (it preserves the state of the user which makes it easier to use for many apps). However, if you rely on a "one-off" approach like `gapi.auth.authorize`, it will not suit you.

We are working on a new behavior in `gapi.auth2` that will make the migration very easy as the behavior will be identical to `ga

[2017-02-16 22:14] TMSCH commented on #280
Hi @ristinolla, `gapi.auth` has been deprecated, I would recommend migrating to `gapi.auth2`. See doc: https://developers.google.com/identity/sign-in/web/. This new library is more secure and reliable, and it will very likely fix this issue (we haven't heard of such issue with the v2). Could you consider that? Thanks!

[2017-02-17 10:52] davemorrissey commented on #277
That works well, thanks! Shame we couldn't work out what changed at the weekend but I'll close this now as it's not a problem for us any more.

[2017-02-17 10:52] #277 closed

[2017-02-17 16:57] TMSCH commented on #277
Great @davemorrissey ! Agreed, I would have liked to understand that too. If it ever happens again, please copy paste the network logs too, that would be very helpful!

[2017-02-17 17:37] TMSCH commented on #25
Hi @DarkSilence @renarsvilnis @neilsoult @alalonde @Hengjie @Lukx @i386 @broady @gguuss, the fix has now been released for `gapi.auth2`! `signIn` and `grantOfflineAccess` promises will be rejected if:

- the user denies to consent the scopes
- the user closes the popup

Thanks for your patience! Could one of you make sure you observe that it works, so I can close this issue?

[2017-02-17 17:42] TMSCH commented on #15
Closing as `gapi.auth` has been deprecated, and the issue is not observed on `gapi.auth2`.

[2017-02-17 17:42] #15 closed

[2017-02-17 17:45] TMSCH commented on #44
`gapi.auth` has been deprecated, and `gapi.auth2` will now automatically sign in the user on initialization, if they were previously signed in. It also detects sign in/sign out from other tabs. As the issue has been resolved in the v2, closing this.

[2017-02-17 17:45] #44 closed

[2017-02-17 17:46] TMSCH commented on #51
Calling `gapi.client.calendar.events["delete"]` is indeed a workaround for IE8 that reserves this keyword. Closing the issue.

[2017-02-17 17:46] #51 closed

[2017-02-17 18:40] TMSCH commented on #74
Cordova/PhoneGab and Chrome Extensions are not supported environments by our JavaScript library.

The first two are very tricky to support and would require specific Cordova plugins to be installed to properly handle opening a browser view and closing it. I would recommend trying to look for Cordova plugins specifically for Google Sign-In.

The Chrome Extension environment also has many constraint

[2017-02-17 18:40] #74 closed

[2017-02-18 01:07] TMSCH commented on #265
@czzarr have you tried again recently? Was that the issue with `prompt: 'none'`? This now rejects the promise with an error. Could you try to see if you observe this?

[2017-02-20 15:17] #268 closed

[2017-02-21 13:20] ristinolla commented on #280
Thanks for the reply, @TMSCH! I wasn't quite sure if it was deprecated or not. I implemented it and now it seems to work. So I guess this can be closed. =) cheers!

[2017-02-21 17:54] TMSCH commented on #280
Thanks for the update @ristinolla! Closing this issue.

[2017-02-21 17:54] #280 closed

[2017-02-22 15:52] MaklaCof opened #281 "Cannot read property 'style' of null"
First, I already try to find solution on [SO](http://stackoverflow.com/questions/42299875/angular2-google-signin-button-cannot-read-property-style-of-null), but I think this is a bug.

I am using Angular2 application. (_For backend I use ASP.NET core 1.1._) I also create SignIn button following [official tutorial](https://developers.google.com/identity/sign-in/web/sign-in).

On successfully log in

[2017-02-22 18:32] TMSCH commented on #281
Hi @MaklaCof,
Thanks for the detailed reporting. It's an error that you can safely ignore, however I understand it is not the ideal behavior. The widget is not meant to be removed from the page after a sign in or sign out, but many Single Page Apps will do that.

An alternative I would propose is to use this: https://developers.google.com/identity/sign-in/web/build-button#building_a_button_with_a_

[2017-02-23 01:59] TMSCH commented on #196
Hi @JaKXz, we published in the documentation the errors that methods can raise: https://developers.google.com/identity/sign-in/web/reference.

Closing this issue.

[2017-02-23 01:59] #196 closed

[2017-02-23 02:49] JaKXz commented on #196
Thanks!

[2017-02-23 08:35] MaklaCof commented on #281
I will check it, but I can not ignore it. On successful login I do some work (some request are made to server, meni are reordered, some are hidden some are showed), but error in JavaScript stop executing this things.

[2017-02-23 11:52] MaklaCof commented on #281
Unfortunately it is not working. It raise the same error.
This is my updated code:
[code]

**If I return to original problem:**

I think you should really fix this. It is a little funny that Google (Angular2) is not working with himself (SignIn). It is not that hard to change this code:
`window.document.getElementById((c?"not_signed_in":"connected")+a.El).style.display="none";`
to this:
[code]

[2017-02-23 18:17] TMSCH commented on #281
Hi @MaklaCof,
Thanks for trying to implement what I recommended.

Are you saying this is still raising the same `Uncaught TypeError: Cannot read property 'style' of null`? I'm surprised as the method used now should not depend at all the same library `gapi.signin2`. Have you removed the HTML for the previous button? If there is still a button with the same class `g-signin2` it will initialize as b

[2017-02-24 07:19] MaklaCof commented on #281
Hi. Thank you.
I tried again and it works. I must have forget something in previous try. Not sure what.

[2017-02-24 17:52] TMSCH commented on #281
Glad it worked!

[2017-02-26 08:24] lchhieu commented on #279
@TMSCH, how to I can login google client in PHP using token from result return from  Google API JS Client

[2017-02-26 08:45] lchhieu opened #282 "how to login google client in PHP using token from result return from Google API JS Client"
how to login google client in PHP using token from result return from Google API JS Client

[2017-02-26 10:57] #282 closed

[2017-02-26 12:49] lchhieu opened #283 "How to increase time expires_in"

[2017-02-26 17:08] xiaosophiawang commented on #277
@TMSCH Still getting the same error when I open quickstart.html in https://developers.google.com/google-apps/calendar/quickstart/js

Is there an older version of gapi I can link to to temporarily resolve this issue?

[2017-02-28 04:36] TMSCH commented on #279
Once you get the code in the backend, you can follow Step 5 of this guide: https://developers.google.com/api-client-library/php/auth/web-app#exchange-authorization-code to exchange it.
This repository concerns the JS client though, if your questions are about the PHP client, please ask them on StackOverflow.

[2017-02-28 04:43] TMSCH commented on #277
Hi @xiaosophiawang, have you tried the fixes proposed in this issue's thread? People had different issues and each one was solved.

If none work for you, could you provide the console logs, the network logs, as well as the environment (browser, platform, versions) under which you experience the issue?

Thanks!

[2017-02-28 19:27] mjgallag commented on #260
@TMSCH do you mean gracefully degrade as it show an error message telling them they need to enable 3rd party cookies?

[2017-02-28 20:05] TMSCH commented on #260
@mjgallag yes, as you are now able to detect the issue, you can tell them that their browser is unsupported (and list potential reasons). It's very difficult to accurately detect that 3rd party data is blocked from our library, which is why we haven't yet been able to release a proper fix.

[2017-02-28 20:11] mjgallag commented on #260
@TMSCH got it, thanks for the quick reply!

[2017-02-28 22:30] TMSCH commented on #260
@mjgallag you're welcome!

[2017-03-01 03:21] TMSCH commented on #189
Hi @nicmendoza @blackrabbit99 @yetithefoot, I apologize that this issue has been opened for so long.

We have just released a new feature that allows to perform the sign-in flow using redirect instead of popup, which should provide a workaround to `window.opener` not set on Chrome iOS. See the doc: https://developers.google.com/identity/sign-in/web/reference#gapiauth2initparams

Let me know if tha

[2017-03-02 23:58] DivyaKamath commented on #239
gapi.auth2.getAuthInstance().grantOfflineAccess() also opens a popup even if the user has previously allowed offline access. Unfortunately, i can only get resp.code from grantOfflineAccess so I have to use it but i see a popup open for a second and then it closes automatically. Is there a way to get resp.code from auth2.init directly?

[2017-03-03 00:07] TMSCH commented on #239
Hi @Divya1k5, it will soon be possible, we are working on a new feature that would allow that. I'll update this thread as soon as it is released!

[2017-03-03 07:27] OGPoyraz opened #284 "Batch request on youtube v3 playlistItems.insert doesn't work as expected"
Hi there,

I was playing with v3 Youtube API yesterday and found something unexpected / missing something.

Below code piece is creating a batch request to add multiple playlistItems.insert request and executes them.

[code]

I double checked the batch request. As I expected it has 19 (means I'm tryin to add 19 playlist item to playlist) request.

<img width="212" alt="screen shot 2017-03-03 at 09

[2017-03-03 07:48] bochunz commented on #284
Does it always work if you send individual request instead of batching?

Note that this repo is for the JavaScript library (which supports all Google's APIs). Seems like the batch requests are working properly but the YouTube API is behaving unexpected. If this is the case, could you redirect the question to the YouTube API? https://developers.google.com/youtube/v3/

[2017-03-03 08:04] OGPoyraz commented on #284
It actually works fine when I request them one by one.

Also working fine individual on [youtube/v3/playlistItems.insert api explorer.](https://developers.google.com/youtube/v3/docs/playlistItems/insert)

Actually not sure it's because youtube / batch api 😕

[2017-03-03 08:19] OGPoyraz commented on #284
It looks batch api makes its job well might have problem on youtube api.

Gonna try my chance on [SO](http://stackoverflow.com/questions/42573723/gapi-batch-request-on-youtube-v3-playlistitems-insert-doesnt-work-as-expected)

[2017-03-03 08:19] #284 closed

[2017-03-03 18:43] bochunz commented on #284
One thing you probably could look at is quota. If you don't have enough quota QPS, some of the requests in batch could get rejected.

https://console.cloud.google.com/apis/api/youtube.googleapis.com/quotas

[2017-03-03 19:08] TMSCH commented on #274
Hi @cincue! This issue has been fixed and released. Let me know if that works for you!

[2017-03-03 20:38] cincue commented on #274
Fantastic! @TMSCH It works perfect now! Thanks

[2017-03-03 22:23] TMSCH commented on #274
Glad it works! Closing this issue.

[2017-03-03 22:23] #274 closed

[2017-03-03 22:25] TMSCH commented on #283
Hi @lchhieu, you cannot increase the default expiration time. This is enforced for security reasons. However, using `gapi.auth2`, you don't have to worry about that as the library will automatically refresh tokens. Closing this issue, works as intended.

[2017-03-03 22:25] #283 closed

[2017-03-04 10:03] OGPoyraz commented on #284
I guess you mean these settings. In my console I cant see any spesific setting for Query Per Second.

 - Queries per day
 - Queries per 100 seconds per user
 - Queries per 100 seconds

[2017-03-06 18:08] bochunz commented on #284
Yes. There should be a default limit on these numbers. Please verify the numbers are now too low.

[2017-03-07 14:46] lchhieu opened #285 "How to revoke access granted for for user individual ?"
i forgot to save token of user login, so i can't revoking using get https://accounts.google.com/o/oauth2/revoke?token={token}
If use disconnect() then all account will be revoked.

[2017-03-07 20:29] TMSCH commented on #285
If you call `disconnect()` on the `GoogleUser` instance (see [doc](https://developers.google.com/identity/sign-in/web/reference#googleuserdisconnect)), only the current user account will be revoked.

Is that what you are looking for?

[2017-03-09 20:45] joeldenning commented on #260
We are experiencing this issue as well. Using the [idpiframe_initialization_failed  error](https://developers.google.com/identity/sign-in/web/reference#googleauththenoninit-onerror) is really helpful for us to be able to message to our users what is happening. But even if we handle the error (`gapi.auth2.getAuthInstance().then(success, err => {/*handle error*/})`), the gapi library still throws a

[2017-03-09 22:17] TMSCH commented on #260
Hi @joeldenning!
Thanks for the feedback. We actually continued to throw the error to be consistent with previous behavior, which is probably not useful anymore.
However I'd like to make sure I observe the same error when third-party data is blocked. When I reproduce it, an error is thrown from within the IFrame, not from the client window, and so I also cannot catch it (although it is an instance

[2017-03-10 13:40] weirdan opened #286 "Repo misnamed?"
This repo doesn't seem to contain google api javascript client sources, as the name suggests. Since it only has samples, shouldn't it be renamed to something like `google-api-javascript-client-samples`?

Alternatively it could be used to publish client sources (would fix #211 )

[2017-03-10 16:42] bsittler commented on #286
My hope is that we will eventually find satisfactory resolutions to the issues currently preventing a fix for #211 at which point the name would be more accurate. The repository name was chosen with that in mind.

[2017-03-13 15:19] czzarr opened #287 "Suggestion to make gapi.auth2 usable"
@ developers of this library

I would suggest reimplementing authorization & authentication in google-drive example apps such as https://github.com/googledrive/drive-music-player https://github.com/googledrive/realtime-playground, https://github.com/googledrive/zipextractor or https://github.com/googledrive/web-quickeditor

This way you will see how hard it is to migrate from `gapi.auth` to `gapi.

[2017-03-13 23:52] TMSCH commented on #287
HI @czzarr,
This is a great idea and we're going to find the time to update these examples.
There is an available [Migration Guide](https://developers.google.com/identity/sign-in/web/quick-migration-guide), but I think it doesn't emphasize enough the fundamental difference in GSI v1 and GSI v2.
`gapi.auth2.init`/`signIn` does a lot for you in the background, like automatically signing in users whe

[2017-03-17 04:05] pravincar commented on #234
@TMSCH . Does this hourly autorefresh allow for a callback to be attached? I store the id_token as a cookie on my domain and verify the validity with each request at my API. So I need to update this cookie if auth2 refreshes the token.
Is there a better way of doing this?

[2017-03-17 18:37] TMSCH commented on #234
Hi @pravincar, you can listen to the currentUser changes: [doc](https://developers.google.com/identity/sign-in/web/reference#googleauthcurrentuserlistenlistener). It will be triggered every time the tokens are refreshed.

[2017-03-19 02:00] philovivero commented on #260
Would like to report we get same behaviour as @TMSCH. We cannot catch the error. Can't implement client-side OAuth2 when user doesn't allow 3rd party cookies/storage.

[2017-03-20 19:17] TMSCH commented on #260
Hi @philovivero ! We recently pushed a changed to not throw the error from within the IFrame. Could you test again and let me know if that works? You should not observe any JS error, but be able to catch it in the promise. Thanks!
However, chrome with 3rd party cookies/storage disabled is still unsupported.

[2017-03-20 21:55] philovivero commented on #260
I'm not sure I will be able to repro. I ripped out all that code. For now we've decided to just let customers who uncheck that get failures, and when we look into it again, will likely implement OAuth2 server-side, since we assume at least some percentage of customers will be privacy-minded.

[2017-03-21 17:16] joeldenning commented on #260
@TMSCH I just checked today and the error still is getting thrown when the "Block third party cookies and site data" checkbox is checked in Chrome. Here are some screenshots:

The code inside of gapi:
![screen shot 2017-03-21 at 10 41 49 am](https://cloud.githubusercontent.com/assets/5524384/24160254/ea48170c-0e26-11e7-9b61-c3b8fd43f856.png)

The error:
![screen shot 2017-03-21 at 10 42 09 am](htt

[2017-03-21 17:31] TMSCH commented on #260
@joeldenning are you also catching the error in the initialization promise? If you don't, it will get thrown again (that's the standard behavior of a promise). I tried not catching it and observed the same behavior than you.

[code]

[2017-03-22 18:49] joeldenning commented on #260
@TMSCH Thanks, I got it work! Since gapi promises aren't real promises and don't follow the spec, the code sample you provided didn't work (It seems like you can't call `.catch()` on gapi promises). But if I catch it by providing two arguments to the `.then()`, it works.

[code]

Thanks for your help with this and for pushing out the fix where it doesn't throw when the error is caught.

[2017-03-22 21:05] TMSCH commented on #260
Oh yes, @joeldenning, you're right... Sorry about that. The return value is just a `Thenable`, there's no `catch` method. Glad you got it to work!

[2017-03-23 10:03] CHAZTATS commented on #232
I'm using latest gapi and types but don't see this function on the GoogleUser object!?

[2017-03-23 15:53] TMSCH commented on #232
@CHAZTATS could you show a snippet of your code? Once the user is signed in, this should work:

`gapi.auth2.getAuthInstance().currentUser.get().reloadAuthResponse();`

[2017-03-24 07:36] Jeevsxp opened #288 "Is authorisation code without popup possible? (using redirect)"
The only way I can see to get an authorisation code to sent to my back-end is to call the 'grantOfflineAccess' method.

Is there anyway to call this in redirect mode and/or have it be included with the initial sign in flow?

[2017-03-24 13:12] fabianotavallini commented on #226
I had the same problem.
Solved adding the following directives to `config.xml` and `wss:` protocol to the Content-Security-Policy.

`
        <access origin="https://*.google.com/*" />
	<access origin="https://*.googleapis.com/*" />
	<allow-navigation href="https://*.google.com/*" />
	<allow-navigation href="https://*.googleapis.com/*" />
`

[2017-03-24 15:59] TMSCH commented on #288
Hi @Jeevsxp, this is not possible to obtain an authorization code without popup. This is a security restriction: an offline code will allow you to obtain a `refresh_token` in the server, that gives you the possibility to obtain a fresh `access_token` anytime you want. For that, the user needs explicit consent.

However, we are working on a feature where you could obtain a code, without popup, that

[2017-03-24 16:12] mdelorimier commented on #232
Hello, i am having a similar issue and when executing the code above, i get an error "noSessionBound"
Any clues?

[2017-03-24 16:40] Jeevsxp commented on #288
Hi @TMSCH, in this case I would need to be able to use the code to get a `refresh_token` as well as an `access_token`.

I'm all for explicit consent, but could that not be included in the initial sign in flow (popup or redirect), without requiring an additional consent step.

Thank you for your response [here](https://github.com/firebase/firebaseui-web/issues/115) as well. I'm assuming from this t

[2017-03-24 18:11] TMSCH commented on #232
Hi @mdelorimier, could you post a snippet of your code that reproduces the issue? Thanks!

[2017-03-24 18:13] TMSCH commented on #288
@Jeevsxp the library will soon support a way of requesting `code`, `token`, and `id_token` in the same request, so in one popup consent. However, it won't be possible using redirect for now.

I will keep this thread updated when it is available!

[2017-03-24 19:10] mdelorimier commented on #232
@TMSCH sure but the issue seems to be session based.
For example, it does it with 2 of my users but not with the others. Also, deleting the authorisation or clearing the cookies cache does not seem to fix the issue.

[2017-03-24 20:31] TMSCH commented on #232
@mdelorimier I am not able to reproduce the issue. I've signed in, reloaded auth response, then signed out of several of my accounts and it worked each time.
What browser are you using? Are you using incognito mode or something similar?

[2017-03-24 20:33] mdelorimier commented on #232
That is in chrome latest version. On the affected accounts, it works in incognito mode but not in regular mode (even if i have emptied the cookies, cache and all from the begining of time)

[2017-03-24 21:11] Jeevsxp commented on #288
@TMSCH ok, thank you

[2017-03-24 23:36] TMSCH commented on #232
To be able to help you, I need more information. Could you give me step by step, what you are doing, what methods you are calling (and their parameters), until the issue observed? Thanks!

[2017-03-27 12:53] mdelorimier commented on #232
Hello,

Here is the sample code.
For the affected users, i always end up in the else branch of the `setSigninStatus` function.

[code]

[2017-03-27 17:53] TMSCH commented on #232
Thanks @mdelorimier for the snippet.

A couple comments:

- `'immediate'` is not an option anymore in gapi.auth2. The `init` method will take care of automatically signing in any user that was previously signed in to the browser.
- `window.gapi.auth2.setToken(gApps.oauthToken);` should not work, this method does not exist (it uses to in GSI v1, however, as GSI v2 takes care of caching and refreshi

[2017-03-28 09:33] alexghi commented on #13
I have read the entire thread, I'm also facing a similar issue, mostly similar with @Roaders '
My issue is this. I'm using google picker and I'm doing the authorization something like this: `gapi.auth2.authorize(
    {
	'client_id': clientId,
	'scope': scope,
	'immediate': false
    },
 handleAuthResult );`

Everything works fine, excepting this thing: When I have multiple users logged in the brow

[2017-03-28 16:49] TMSCH commented on #13
Hi @alexghi, you are actually using an unreleased method ;). Its behavior may change in the future, so I wouldn't recommend relying on it for now. I'll update this thread when it is available.

For your use case, you'd rather want to use `gapi.auth2.init`/`signIn`. It will take care of automatically signing in the user the next time they reload your application, even when several Google accounts a

[2017-03-29 08:38] alexghi commented on #13
Hey, thanks for the quick response @TMSCH; I don't understand how is it unreleased since I followed the reference closely. Here's the example I have followed [doc](https://developers.google.com/picker/docs/) . It happens in any browser I have tested so far (Chrome, FF, Safari), and I'm using MacOS (10.12.2). You can take a look at [this](https://github.com/alexghi/alexghi.github.io/blob/master/dri

[2017-03-29 15:35] TMSCH commented on #13
@alexghi the doc you pointed to is for Google Sign-In v1, and uses `gapi.auth.authorize`, when your snippet uses GSI v2, `gapi.auth2.authorize` ;). We're going to update it.

Your bug comes from the `scope` argument you are passing. GSI v2 does not accept a list of scope, it has to be a comma-delimited string (e.g. `'scope1 scope2'`). Change to `'https://www.googleapis.com/auth/drive'` instead of

[2017-03-30 06:57] alexghi commented on #13
@TMSCH thanks a lot for the explanations. The documentation sometimes feels counterintuitive. Really appreciate your support. Thanks again.

[2017-03-30 14:58] TMSCH commented on #13
@alexghi you're welcome! Feel free to create an issue every time you feel the documentation is not clear. We're happy to improve it!

[2017-04-03 17:57] mdelorimier commented on #232
Ok

But event with this simple code, for some users, the login popup is displayed every single time :

[code]

[2017-04-03 18:46] TMSCH commented on #232
@mdelorimier there is no call to `signIn` in your snippet, so I can't tell you why it could cause the popup to be displayed every time.

The listener here will not be called initially, you have to do:

[code]

[2017-04-03 19:02] mdelorimier commented on #232
Even in that case, i am always getting ``false`` form ``GoogleAuth.isSignedIn.get()``. The popup shows and hides imediately after being displayed.

Also, this if for a GApps domain, if that makes a diffrence.
I also have server and client auth for that specific app as i haven't found a way to properly do server auth then client.

[2017-04-03 19:04] TMSCH commented on #232
Have you switched to using `signIn` instead of `grantOfflineAccess`?

[2017-04-03 19:15] mdelorimier commented on #232
Yes i have done that but still get the issue.
I have updated the code in my previous post. The promise from the `signIn` function never gets completed it seems.
here are the scopes :
["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/userinfo.email","https://www.googleapis.com/auth/gmail.readonly"]

[2017-04-03 22:17] TMSCH commented on #232
Is the popup opened? The browser can block them if they're not opened right after a user interaction. That would explain that the promise never resolves.
You should use the `redirect` mode if you want to avoid this issue, or add a button that the user will click and then synchronously call `signIn`.

[2017-04-04 13:16] mdelorimier commented on #232
Ok, found the issue, the chrome extension "privacy badger" was blocking cookies even if it was set to accept all for that specific site.

Feel kind of dumb now that i found this. Sorry for the disruption.

Thanks for your great explainations :)

[2017-04-04 14:58] TMSCH commented on #232
@mdelorimier I'm glad you found the issue! I'll know for the next time that Chrome extensions can break the library ;)

[2017-04-04 15:27] peveuve commented on #216
Sorry to answer lately, I worked around the problem with another design, so I can't answer this question.

[2017-04-04 15:27] #216 closed

[2017-04-05 16:53] TMSCH commented on #13
@flawiddsouza we have released a fix to the issue with multiple login accounts. I was able to verify that I don't observe the issue anymore, let me know if you still experience problems!

[2017-04-05 17:13] flawiddsouza commented on #13
Thanks, it's working perfectly now 👍

[2017-04-05 17:16] flawiddsouza commented on #13
But sometimes when switching accounts, I get this error while retrieving a playlist that was retrieved from that account: The request is not properly authorized to retrieve the specified playlist. It's weird. It happens randomly and without a cause.

[2017-04-05 17:39] TMSCH commented on #13
Glad it's working!

About the issue you are observing now, could you look at the network tab, and find the request to retrieve the playlist? Could you copy paste the request and response?

Also, is there any console logs?

[2017-04-05 17:58] flawiddsouza commented on #13
[code]

The console log and network response are the same as the above.

The request:
`https://content.googleapis.com/youtube/v3/playlistItems?maxResults=50&pageToken&part=snippet&playlistId=LLQqX1OQ5DM38JRabHrkX44A&fields=nextPageToken%2C%20items%2Fsnippet%2FresourceId%2FvideoId%2C%20items%2Fsnippet%2Fthumbnails%2Fmedium%2Furl%2C%20items%2Fsnippet%2Ftitle%2C%20items%2Fsnippet%2FpublishedAt`

[2017-04-05 18:00] flawiddsouza commented on #13
Also, this error seems to disappear after two page refreshes. As in after two subsequent logins, I think.

[2017-04-05 21:19] TMSCH commented on #13
Hmm, the request doesn't seem to have any access_token in the query params. Could you check the request payload?

[2017-04-08 04:18] flawiddsouza commented on #13
How do I check that?

[2017-04-10 17:59] TMSCH commented on #13
@flawiddsouza right that makes sense, this is indeed all the params sent.

In the Network tab, could you click on the request that fails with a 403, and in the "Headers" tab of the request details, look for an "Authorization:Bearer xxxxxx" entry? Is there one? If there is, could you make sure that this is the same access_token than the one present in the AuthResponse of the user? (`gapi.auth2.getA

[2017-04-11 06:45] lorytif opened #289 "OAUTH and Youtube API"
Hi,

I would like to know if it is possible to have an application in Javascript and a Youtube Channel with video in private ( just one user authorized) . The user navigate on my javascript application and decide to view my private video without logged in. I explain me. I would like my application send directly the identifiant to view my private video and this process is transparent for the user.

[2017-04-11 17:57] TMSCH commented on #289
Hi @lorytif, OAuth 2.0 requires the user to sign in so what you want to do is not possible. I am less familiar with YouTube APIs, but it seems that if the video is private no other user besides the one authorized will be able to access it.

[2017-04-12 06:13] lorytif commented on #289
Hum Ok :/ it's a real problem for me... Thanks

[2017-04-12 16:39] TMSCH commented on #289
I am not sure to understand: if you want other people than you to be able to watch the video, you should change the setting of the video to allow other users. I am not familiar with the YouTube settings but I think there is one where the video is not searchable but if you have the link you can watch it. Maybe that's what you're looking for?
OAuth 2.0 is unrelated here as you don't want your users

[2017-04-13 19:41] TMSCH commented on #232
No further comments on this issue, closing the bug. Please re-open if you are still observing cases where the call to `signIn` never resolves.

[2017-04-13 19:41] #232 closed

[2017-04-13 19:44] TMSCH commented on #285
Closing this issue as `disconnect()` is the way to revoke access granted for an user to an app.

[2017-04-13 19:44] #285 closed

[2017-04-13 19:45] TMSCH commented on #279
Closing this bug as the documentation pointed to should fix the issue. Please re-open if you still have issues.

[2017-04-13 19:45] #279 closed

[2017-04-13 19:46] TMSCH commented on #275
Closing this issue as fixed, @vanderlin please reopened if you still experience the problem.

[2017-04-13 19:46] #275 closed

[2017-04-13 19:47] TMSCH commented on #269
@Jeckstart please reopen if you still need guidance on this issue. Closing as the thread is inactive.

[2017-04-13 19:47] #269 closed

[2017-04-13 19:48] TMSCH commented on #265
@czzarr @SVLayer have you tried again? Are you still observing the issue?

[2017-04-13 19:51] TMSCH commented on #245
@geoffdavis92 please try again to make sure our fix addressed your issue. Thanks!

[2017-04-13 19:52] TMSCH commented on #238
@Eljoy @devravi could you update this thread with more information? Thanks!

[2017-04-13 19:52] TMSCH commented on #237
Closing this bug as working as intended.

[2017-04-13 19:52] #237 closed

[2017-04-13 19:53] TMSCH commented on #236
@xd1936 @cyberaleks @PatTheMav please try again, we have released a fix a couple of weeks ago that should address the issue. Thanks!

[2017-04-13 19:54] TMSCH commented on #235
Closing this issue as the issue has been fixed and the thread has been inactive for a couple months.

[2017-04-13 19:54] #235 closed

[2017-04-13 19:55] TMSCH commented on #256
Closing this issue as inactive thread. Please reopen with more details if the issue remains.

[2017-04-13 19:55] #256 closed

[2017-04-13 19:58] TMSCH commented on #225
Closing this issue as inactive and the bug observed is not defined with enough details. Please reopen and provide details so we can address the issue.

[2017-04-13 19:58] #225 closed

[2017-04-13 19:59] TMSCH commented on #223
Hi @karthikeyan-vk , have you been able to migrate to GSI v2? Are you still experiencing the issue there?

[2017-04-14 09:19] melturphin commented on #277
same problem going on...
re-Verified that the while listed url is correct.
Yesterday was working, today is not. Same code, no change in the api console.

{"method":"fireIdpEvent","params":{"type":"idpReady"},"rpcToken":"422554812.4174135"}
{"id":"598-853235.8134723579","result":false,"rpcToken":"348651783.49495125"}

Object
details
:
"Not a valid origin for the client."
error
:
"idpiframe_initiali

[2017-04-14 12:07] PatTheMav commented on #236
I've moved the whole authentication stack into the backend, but revived some old frontend-code and authentication and pulling data as a Google+ page seemed to work as intended.. 👍

[2017-04-14 15:53] TMSCH commented on #277
Hi @melturphin, can you make sure there is no typo in the URL entered in the console? It should be exactly (no trailing slash, no path):

http://kanban-ninja.s3-website-eu-west-1.amazonaws.com

For this client ID: 547396580452-k45ss0rhgpb5jkhjcj8m9qqp5k5iajun.apps.googleUsercontent.com

I am surprised this could have changed between yesterday and today. Would you have changed the deployment server

[2017-04-14 15:54] TMSCH commented on #236
Thanks @PatTheMav for testing! I'm glad it's working now, but sorry we couldn't make it work in time for you to keep your original implementation.

[2017-04-14 20:01] TMSCH commented on #239
@Divya1k5, @gilrm92 @ZeMaTT, the new feature has been released: https://developers.google.com/identity/sign-in/web/reference#advanced

@ZeMaTT and @gilrm92, for your use case, you can use the new `gapi.auth2.authorize` this way:

[code]

If the user has pre-approved the scopes for your application, this will load an `access_token` and `id_token` without any UI. The token will automatically be shar

[2017-04-14 20:03] TMSCH commented on #213
@Burtan, the new feature has been released: https://developers.google.com/identity/sign-in/web/reference#advanced. Each call is independent from the other so you can change the `client_id` in each. As @bsittler noted however, we do not recommend to have several `client_id` in the same application.

[2017-04-14 20:05] Burtan commented on #213
Thanks for the update!

[2017-04-14 20:05] #213 closed

[2017-04-14 20:05] TMSCH commented on #253
@carmatdaw we released the new feature: https://developers.google.com/identity/sign-in/web/reference#advanced

You should now be able to very easily migrate to the latest version as the behavior is the same. Just make sure to update the configuration parameters, and read the correct ones in the response.

Let me know if that works!

[2017-04-14 20:08] TMSCH commented on #288
Hi @Jeevsxp, you can now request a `code` as well as the `token` and `id_token` using the newly released feature: https://developers.google.com/identity/sign-in/web/reference#advanced

[code]

Note that, compared to the `init`/`signIn` scenario, the library won't automatically refresh the `access_token` in the client for any authenticated calls you would make with `gapi.client`. You would have to

[2017-04-14 20:09] TMSCH commented on #13
@alexghi, the new feature is now documented: https://developers.google.com/identity/sign-in/web/reference#advanced

[2017-04-14 20:16] Jeevsxp commented on #288
To confirm, this is only using a popup? Are there any plans to allow redirect in the future?

[2017-04-14 22:20] TMSCH commented on #288
For now, only popup is supported. Redirect is tricky to handle in this use case: contrary to `gapi.auth2.init`/`signIn`, where redirect mode is available, there is no "initialization" phase where the redirect result could be handled. We are working on a solution but this is less clean and easy for the developers to use.

[2017-04-15 10:18] alexghi commented on #13
@TMSCH thanks for pointing it out.

[2017-04-15 10:31] melturphin commented on #277
Thanks for the quick answer.
I'm experiencing unsteady behaviour. The easy solutions for the current stage of development is just to delete cretedials and create new ones.
Now I'm having to authorized sources (some sort of localhost and the alredy mentioned url). From yesterday to today seems to keep working. But yesterday I had to delete it a couple of times.

I keep you posted if the problem rep

[2017-04-17 04:29] karthikeyan-vk commented on #223
Hi,

Yes was able to migrate to GSI v2 without any issues. And we discontinued our support for windows IE browsers, So haven't tested out there. Thanks!

[2017-04-17 04:29] #223 closed

[2017-04-17 18:52] TMSCH commented on #223
Thanks @karthikeyan-vk for the update! Glad the migration went well.

[2017-04-18 06:28] seahopark commented on #289
Sorry for the interrupt, so you mean we cannot access to users private contents with OAuth 2.0?
and only way to solve this is let users to unlock the private mode on youtube?

[2017-04-19 21:43] xd1936 commented on #236
Working perfectly for me! Thanks so much, @TMSCH!

[2017-04-19 23:52] TMSCH commented on #236
Great, thanks @xd1936! Closing this issue now as fixed.

[2017-04-19 23:52] #236 closed

[2017-04-20 06:57] Sid21m commented on #279
@TMSCH  When i try to exchange the code for refresh token and access token, I get a redirect_uri_mismatch error. My redirect_uri is valid. So after some research I found out you need to use "postmessage" as redirect uri. Now I am only getting access token, no refresh_token.

Note: I have already authenticated my application using web flow. I am only using gapi.auth2.authorize for incremental autho

[2017-04-20 11:45] nickrussler opened #290 "Missing documentation on approval_prompt = "force" for grantOfflineAccess"
I use the gapi js client to conveniently retrieve the code for offline usage by my backend by calling `grantOfflineAccess({approval_prompt : 'force'})` which works just fine, but the `approval_prompt` parameter isn't documented anywhere.

It would be great if this parameter would be added to the documentation.

[2017-04-20 16:46] TMSCH commented on #279
Hi @Sid21m, I am not sure to understand what you are trying to achieve. What did you use to sign in the user in the first place (i.e. what do you mean by web flow)? Could you post a snippet of code for the incremental auth? In `gapi.auth1.authorize`, there is no `redirect_uri` parameter (See [doc](https://developers.google.com/identity/sign-in/web/reference#gapiauth2authorizeconfig)).

[2017-04-20 16:47] TMSCH commented on #290
This parameter has been removed from Google Sign-In v2. You should use the OpenID compliant version: `grantOfflineAccess({prompt: 'consent'})`. See [doc](https://developers.google.com/identity/sign-in/web/reference#gapiauth2offlineaccessoptions).

[2017-04-20 16:47] #290 closed

[2017-04-20 23:03] eschultink opened #291 "500 errors from server on redirect?"
We've been using this JS library to federate identity with Google for a year or more, and today we started getting the following error in the popup:
<img width="1224" alt="error_500__server_error___1_and_worklytics" src="https://cloud.githubusercontent.com/assets/102831/25255458/8e26aeae-25df-11e7-901d-590cdb10d9f4.png">

Full URL of the popup (generated by the library) is something like below, ex

[2017-04-20 23:27] TMSCH commented on #291
Hi @eschultink, `{'redirect_uri': 'postmessage'}` is invalid. `'postmessage'` is not supported. See [doc](https://developers.google.com/identity/sign-in/web/reference#gapiauth2signinoptions) for the valid options (only actual URL are expected, when using `ux_mode: 'redirect'`. Remove this and it should work.

It is actually surprising that it worked so far... Would you have recently started using

[2017-04-21 02:36] eschultink commented on #291
@TMSCH thanks for quick response; seems to work.  We've had that `redirect_uri` part in there for at least 11 months. As far as I can tell, since our first implementation using this library.  I'm not sure where we got it from, as I agree I don't see it mentioned in the current documentation.

Previously we had experimented with some different approaches for integrating with Google auth, so perhaps

[2017-04-21 02:59] TMSCH commented on #291
@eschultink it seems that our backend made changes that started rejecting this parameter instead of ignoring it (probably for the better), but I agree that the 500 error is not helpful. I have forwarded this issue to the relevant team.
As it is not directly related to the JS library, closing the issue.

[2017-04-21 18:25] TMSCH commented on #291
Actually, my bad. The JS library started passing this invalid parameter to the backend. We are going to push a fix soon.

[2017-04-23 10:11] fieyr commented on #13
I've tried reading through the above but I'm still confused as to what I need to do. I'm following this document: https://developers.google.com/identity/protocols/OAuth2UserAgent#identify-access-scopes

I'm signing in with a google account which has multiple youtube channels associated with it. Once I'm authorized for that chennel... I do an api request for the channel to get the channel id like t

[2017-04-25 00:00] TMSCH commented on #13
@fieyr thanks for raising this issue. I reproduced the issue myself. However, I am not able to get another channel ID than the one from my Google Account, main channel. Even clearing the cache. I wonder if that would mean the issue comes from the API, not the authentication.

Here is what I did:

1. Sign in with Google Account UserA, asking for `https://www.googleapis.com/auth/youtube` scope, and

[2017-04-25 04:59] fieyr commented on #13
Very strange. I hadn't thought of trying an incognito window to test the second channel. However when I did, it returned the correct channel id ID2. Your steps above are essentially the right steps with the exception that I haven't been using an incognito window and instead simply revoked access after first signing into UserA > Main channel (ID1) and then tried to sign in again to the same UserA a

[2017-04-25 08:14] fieyr commented on #13
@TMSCH I've been thinking about this a bit more... and this is just a guess... but it's almost as if the google account selector (where you pick your channel) is caching the selection of the first channel so that even if I revoke my token/sign out.... the next time I log in and go to select another channel... it uses that cached value of the account I selected to authenticate instead of the otherc

[2017-04-25 19:01] flawiddsouza commented on #13
I think I've got the same issue.

[2017-04-25 19:05] flawiddsouza commented on #13
@TMSCH Here's info for the asked query.

```Authorization:Bearer ya29.Gl03BNRxy-J2pkjRNjlXLbEid1ySYtAs8ogeSwo3yTBVJkri7DjSeLvrahkDnts8Xb-L1LaX_zPqx3fOwKTYQVf911zX3GR6gurWxH1Ywj-ArbVNlGBrY-xdCnAV9SM```

gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse(true) access token:
```"ya29.Gl03BNRxy-J2pkjRNjlXLbEid1ySYtAs8ogeSwo3yTBVJkri7DjSeLvrahkDnts8Xb-L1LaX_zPqx3fOwKTYQVf911zX3GR6gurWxH1Ywj

[2017-04-25 21:54] TMSCH commented on #13
Thanks @fieyr and @flawiddsouza for the further information. I will investigate on my end in more details as I don't see any obvious issue, and keep you updated. Sorry about the inconvenience.

[2017-04-26 00:17] fieyr commented on #13
@TMSCH I'll post detailed screenshots later to show exactly what's happening.

[2017-04-26 00:37] TMSCH commented on #13
Thanks @fieyr. Actually, instead of screenshot, it'd be great if you could post the Request Headers, Payload, and Response of the HTTP request that fetches the channels list. You can do that by using the Network Tab of the Chrome Developers Console. It is a request to this endpoint: `https://content.googleapis.com/youtube/v3/channels`.

I'd like to see the differences between a request that correc

[2017-04-26 02:01] fieyr commented on #13
@TMSCH Let me know if you need more than this. I'm not used to using the network tab, so feel free to ask for anything if I missed something.

[2017-04-26 05:23] fieyr commented on #13
@TMSCH I discovered something interesting. So let's say I login to one channel, see that it's authenticated, and see that I'm getting the correct channel id. When I sign into another channel... I've needed to clear the cache first right? Well today I discovered that if I wait 3-5 minutes after revoking permissions on the first channel before attempting to sign into the second channel... it actuall

[2017-04-26 17:08] Divya1k5 commented on #239
@TMSCH the prompt: none fixed the issue i was facing earlier. thanks a lot.

[2017-04-26 18:57] TMSCH commented on #239
Glad it's working, thanks for the update @Divya1k5!

[2017-04-27 13:20] torzuoliH commented on #288
Any news ?

[2017-04-27 15:10] torzuoliH commented on #239
@TMSCH @Divya1k5 The popup doesn't appear ? I still have the popup that appears :/

[2017-04-27 17:17] TMSCH commented on #288
@torzuoliH it is on our roadmap but I can't give any ETA at that time.

[2017-04-27 17:17] TMSCH commented on #239
@torzuoliH are you using the `prompt: 'none'` option, in the `gapi.auth2.authorize` call?

[2017-04-30 13:11] pabx06 commented on #46
same error here can't use on local file
![image](https://cloud.githubusercontent.com/assets/4013370/25564609/4de38ef4-2db7-11e7-9a3c-c651545c0697.png)

[2017-05-01 17:20] bsittler commented on #46
Usage of gapi.client from non-https:, non-http: web origins is not supported. As stated in https://developers.google.com/api-client-library/javascript/start/start-js#supported-environments :

[2017-05-01 17:20] #46 closed

[2017-05-03 19:35] mjgallag opened #292 "Access to Case Sensitive Email"
Is there any way to access a case sensitive version of the user's email?
<img width="573" alt="screen shot 2017-05-03 at 12 33 16 pm" src="https://cloud.githubusercontent.com/assets/1046027/25677957/e7a33bd8-2ffc-11e7-9f79-9cffa6cc49c7.png">

[2017-05-03 20:20] TMSCH commented on #292
Hi @mjgallag, I am not sure to understand. What do you mean by access a case sensitive version of the user's email? In the profile info returned after a sign-in flow with the gapi.auth2 library?

[2017-05-03 20:22] mjgallag commented on #292
Yes, exactly.

On Wed, May 3, 2017 at 1:20 PM Thomas Césaré-Herriau <
notifications@github.com> wrote:

[2017-05-03 21:12] TMSCH commented on #13
@fieyr @flawiddsouza thanks for all the information. We have a lead on what the cause of the issue could be, we are investigating a fix. I'll keep this thread updated.

[2017-05-04 00:46] TMSCH commented on #292
What are you using to get the email address of the user? Could you provide a snippet of code?

[2017-05-04 00:56] mjgallag commented on #292
`email` is `temmittibal@gmail.com` for the above mentioned imaginary account I created for testing purposes.
[code]
Thank you for taking a look at this @TMSCH.

[2017-05-04 08:50] JordiOrriols commented on #281
I'm getting the same error on ReactJs.

The first time the page is loaded everything is Ok.
If I change from one page to another, the element is removed from the Dom, and when I go to the page with the button, gapi.signin2.render is called again.

But it seems that the events from the first call still alive, and that events show the error of "null".
If I repeat the process, the events still there,

[2017-05-04 14:01] fieyr commented on #13
@TMSCH Thanks for the update and working so hard to figure this out. As always, let me know if you need any additional info.

[2017-05-04 16:02] TMSCH commented on #281
Hi @JordiOrriols, as I mentioned earlier, `gapi,signin2` is unfortunately not designed to be used in a single page application, hence the issue you observe. For now, you can build a custom button which will help you control the lifecycle more precisely: https://developers.google.com/identity/sign-in/web/build-button#building_a_button_with_a_custom_graphic.

We could potentially implement a `dispos

[2017-05-04 18:07] TMSCH commented on #291
The issue has now been fixed. The client library will ignore the deprecated param`redirect_uri:  'postmessage'`. Closing.

[2017-05-04 18:07] #291 closed

[2017-05-07 10:43] Burtan commented on #215
I've made the experience that the login popup is blocked even when it is triggered by user action, when you initialize the popup from a deferred function. It seems that especially Safari does not recognize it to be user triggered then.

[2017-05-07 13:50] bsittler commented on #215
Right, "in the context of" is a bit different across browsers -  the only portable definition is "in the synchronous call stack of an event handler for"

[2017-05-08 12:42] JordiOrriols commented on #281
This would help for sure. It would be great to have this method on the future!
Thank you!

[2017-05-08 15:04] john1jan opened #293 "popup_closed_by_user when requesting addtional scopes"
getting **popup_closed_by_user** when requesting additional scope, Detailed issue is [here](http://stackoverflow.com/questions/43658094/additional-permission-while-using-google-signin-button)

I am using this code to request additional scope

     `var options = new gapi.auth2.SigninOptionsBuilder(
                {'scope': 'https://www.googleapis.com/auth/contacts.readonly'});

        googleUser

[2017-05-08 23:39] TMSCH commented on #293
Hi @john1jan, I think the issue you are facing is that the popup is blocked by the browser. You should not call the `grant` method from within an asynchronous function (i.e. the onSuccess callback). The call to `grant` must be done **synchronously after a user interaction** (a click for instance).

[2017-05-09 13:38] BigYu opened #294 "Do I understand the "multiple client ids" scenario for advanced usage correctly"
My single page applications have more than 1 routes requires the google access by signing in with **different client ids**. Some other tabs are likely to request google permissions from web server. Does it mean it qualifies to the advanced usage?

I read the points from your doc and will appreciate your help to confirm I understand it correctly :D

[2017-05-09 17:38] TMSCH commented on #294
Hi @BigYu, from my understanding it seems to be your scenario indeed. The `init/signIn` behavior will only allow you to have *one client ID per app*, and the sign-in state will be synced *across tabs*.

`gapi.auth2.authorize` will not sync state and allows to specify a different client ID for each call.

However, using multiple client IDs for one app has to be done in last resort. It is not user f

[2017-05-09 20:37] ghiaia opened #295 "GoogleUser.grantOfflineAccess - called by currentUser.listen() cb - TypeError: Cannot read property 'focus' of null"
In the streamlined attached file a "user change event" trigger a new GoogleUser.grantOfflineAccess by GoogleAuth.currentUser.listen callback.

Chrome respond: TypeError: Cannot read property 'focus' of null or popup_closed_by_user
Firefox: similar.

What is wrong ?

[index.html.txt](https://github.com/google/google-api-javascript-client/files/987928/index.html.txt)

P.S.
The original application i

[2017-05-09 21:22] TMSCH commented on #295
Hi @ghiaia, I think the problem is that you trigger a `grantOfflineAccess` call, that opens a popup, asynchronously. This is not possible in most browsers. You need to open a popup *synchronously after a user interaction on the page*.
However, the error that you observe is not clear in this scenario so we're going to address this and provide better feedback in case the browser has blocked the popu

[2017-05-09 21:36] ghiaia commented on #295
Same problem if called in init().then().
Yes. Called asynchronously.
If I called by dev console it works.

Uhmm! I need to get an offline code after auth2.init or signIn without bother the user with a new "click"

[2017-05-09 23:55] TMSCH commented on #295
If you just want an offline code, without client-side handling of the user's state, you can use [`gapi.auth2.authorize`](https://developers.google.com/identity/sign-in/web/reference#gapiauth2authorizeparams-callback). This would obtain a code for the user in one click. Would that work for your use case?

[2017-05-10 00:08] Aaron-Zhao opened #296 "Google OAuth signIn() to return non-uglified response?"
I am using https://apis.google.com/js/api.js, and calling gapi.auth2.getAuthInstance().signIn() but it's giving me all these uglified (object properties) in the response.

Is there any way to get a clean response?

[2017-05-10 00:50] TMSCH commented on #296
@Aaron-Zhao could you be a little more specific? What response are you talking about? Please provide the snippet of code where you observe these properties.

Uglified/minified properties are extremely common in JavaScript `Object`s that are not pure maps of string to string, and required. Depending on what `Object` you are referring to, it is very likely that we cannot update the code to get a cle

[2017-05-10 01:48] Aaron-Zhao commented on #296
https://developers.google.com/api-client-library/javascript/reference/referencedocs#googleauthsigninoptions

Thanks for the response. I was referring to the response from the above function.

I figured maybe I am not supposed to read the response.

[2017-05-10 07:33] ghiaia commented on #295
Apparently we need a a mixed solution (client-side, server-side inside domain and outside domain, so "service_account" does not suffice).
It is a large intranet and extanet collaborative set of apps comprehending industrial plants integrations.

auth2.authorize may be a solution, but I think " incremental authorization" concept is better.

Thank you!

[2017-05-10 07:33] #295 closed

[2017-05-10 08:58] john1jan commented on #293
HI @TMSCH now i used **grant**() method on click of a button. Now **grant** method works. But it doesnot have the scope I have requested for.

success method is getting called and it logs

{
  "message": "success",
  "value": {
    "El": "116045486997095asdasd667403",
    "Zi": {
      "token_type": "Bearer",
      "access_token": "ya29.GltGBI#&$*(#&($&(*#&$(*&#$(*&$pNMl1Q",
      **"scope": "http

[2017-05-10 09:16] john1jan commented on #293
Oh.god..after wasting a lot of time on this.. found the solution. I dont know why google's doc is so wrong or outdated.

If you set options like this it is not working
[code]

For getting the scopes you should use the methods

[code]

[2017-05-10 10:08] BigYu commented on #294
@TMSCH Thanks for your explaining. I will try the advanced api first. Below is what I did:

[code]

**gapi.auth2.getAuthInstance()**; returns undefined, could you pls let me know if it can be used together with authorize?

[2017-05-10 10:10] john1jan commented on #293
@TMSCH is there any particular reason why grant should be called synchronously , because I dont want the user to click on a button and request for additional scope

[2017-05-10 13:22] BigYu commented on #294
@TMSCH Btw, you told me that ```gapi.auth2.authorize``` does not sync status. But what I saw is: one of my scenario signs in from web-server successfully, another scenario which uses gapi.aut2.authorize and a different client id signs in silently without popup. It seems the state is synced, any ideas about this scenario?

[2017-05-10 16:28] TMSCH commented on #294
@BigYu `gapi.auth2.getAuthInstance()` is not defined when using `gapi.auth2.authorize`. Only when using `init`/`signIn` (this is because there is not a singleton GoogleAuth instance available in that case, as required for multiple client IDs). Sorry if that wasn't clear.

In your scenario with the silent popup sign-in, are you saying that the user had not authorized that specific client ID before?

[2017-05-10 16:32] TMSCH commented on #266
Once the user is signed in, call [`GoogleUser.grantOfflineAccess()`](https://devsite.googleplex.com/identity/sign-in/web/reference#googleusergrantofflineaccessscopes). You can also directly call [`GoogleAuth.grantOfflineAccess()`](https://devsite.googleplex.com/identity/sign-in/web/reference#googleauthgrantofflineaccessoptions) without requiring the user to sign in first. Remember that each time y

[2017-05-10 16:39] TMSCH commented on #293
@john1jan sorry if the doc was outdated. Could you point me where it is wrong? I don't see the syntax you used in the [reference](https://devsite.googleplex.com/identity/sign-in/web/reference#googleauthsigninoptions). I will update it though where you found it.

You may have been confused with the shorter syntax:

[code]

The `grant()` call has to be synchronous after a user interaction as most br

[2017-05-10 16:40] TMSCH commented on #295
Incremental authorization is indeed usually a better UX for large apps. Glad you found the solution!

[2017-05-10 16:43] TMSCH commented on #296
Oh the doc does not mention the response returned in the promise. We will update this.

The response is a [GoogleUser](https://devsite.googleplex.com/identity/sign-in/web/reference#googleusergetid), so you should only read the exposed methods and properties defined in the doc.

[code]

[2017-05-10 19:13] Aaron-Zhao commented on #296
Cool, that's helpful. Thanks!

[2017-05-10 19:13] #296 closed

[2017-05-10 22:14] mjgallag commented on #292
@TMSCH any advice you can give on possible workarounds  to investigate would be greatly appreciated, thanks again.

[2017-05-10 22:40] TMSCH commented on #292
@mjgallag have you tried user the userinfo endpoint?

https://developers.google.com/apis-explorer/#search/userinfo/m/oauth2/v2/oauth2.userinfo.v2.me.get?fields=email&_h=1&

[2017-05-11 01:22] mjgallag commented on #292
<img width="327" alt="screen shot 2017-05-10 at 6 16 59 pm" src="https://cloud.githubusercontent.com/assets/1046027/25927832/7c4c2d02-35ad-11e7-9d66-30d3dfc6cbed.png">

@TMSCH unfortunately that one is lowercased too.

[2017-05-11 03:15] TMSCH commented on #292
@mjgallag forwarding the request internally to the right team.

Could you be more specific about the user case here? Why needing the case sensitive version?

Also, where did you get the screenshot you attached in your first comment?

[2017-05-11 03:58] mjgallag commented on #292
@TMSCH thanks. Screenshot is from an AppEngine Java Standard environment link `https://appengine.google.com/_ah/loginform?state=...`.

We're a fork of an open source project that allows you to build android apps without code. We allow importing of android app projects from the original. The user expects the Android Application Id of their imported project to match the original. but these are not s

[2017-05-11 10:13] torzuoliH commented on #239
@TMSCH sorry for that late ! I'm using 'immediate: false' and it's working now :)

[2017-05-11 10:51] Sharma-Ravin commented on #266
Hi TMSCH, Your previous answer is very helpful. I tried the code given below. It provide me the code. But not offline access. Please help me with some code.
`var auth2;
function init() {
    gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
            client_id: '<my client id>.apps.googleusercontent.com',
            scope: 'https://www.googleapis.com/auth/drive.file https://www.

[2017-05-11 14:06] BigYu commented on #294
@TMSCH Sorry that I didn’t make it clear.

What I saw is:

1. In a new incognito window,  sign in first from a scenario which uses web-server auth, then go to another scenario, sign in using client-side auth: ```gapi.auth2.authorize({ …’prompt’: ‘select-account’})``` with a totally different client Id (the client id wasn’t signed in before), the sign-in window popups but closes automatically and q

[2017-05-11 16:28] TMSCH commented on #239
@torzuoliH `immediate: 'false'` is not a parameter of `gapi.auth2.authorize` so does not have any effect, you can remove it.
Closing the issue as resolved.

[2017-05-11 16:28] #239 closed

[2017-05-11 16:30] TMSCH commented on #266
@Sharma-Ravin please refer to the [guide](https://developers.google.com/identity/sign-in/web/server-side-flow) for a detailed explanation of how to use the code in the server (sorry, the link was wrong in my previous comment, I updated it).

[2017-05-11 18:41] TMSCH commented on #294
1. Try `select_account` instead of `select-account` there is a typo in your parameter's value.
2. `gapi.auth2.authorize` does not provide logout method as it doesn't "sign in" a user, only authorize it and fetch an access token. Currently, you can only revoke the user's permission using the library if you use the common `init/signIn` flow, and then [`GoogleUser.disconnect`](https://developers.goog

[2017-05-11 18:42] TMSCH commented on #292
@mjgallag thanks for the explanation. I will forward it.

[2017-05-12 00:42] s00071609 commented on #106
wonderfly, how did you fix this issue?

Thanks

[2017-05-12 00:46] bsittler commented on #106
@s00071609 wonderfly was not the author of those comments but rather the one who migrated them from the previous issue tracker on the old Google Code site. If you are encountering a similar-looking issue I encourage you to open a new issue for it as this one hasn't had significant updates since 2013.

[2017-05-12 02:36] BigYu commented on #294
My apology, 'select-account' is a typo in above issue description, it is correct in our code which is 'select_account' as in Google API doc

[2017-05-12 16:25] TMSCH commented on #294
@BigYu I was able to reproduce the bug. The `'select_account'` value is indeed ignored, and your expectation of the behavior is correct. We will address the issue and keep you updated!

[2017-05-15 17:45] Eljoy commented on #238
@TMSCH Here is the simplest code one can use to verify the described issue. Click "Sign Out" button and check out the console, to see an error "Uncaught TypeError: Cannot read property 'postMessage' of null". https://plnkr.co/edit/oFcRee13CynUC7LtPERv?p=preview

Thanks!

[2017-05-15 18:50] TMSCH commented on #238
@Eljoy thanks for providing the snippet! The issue is the one I expected and mentioned in my previous comment. The `ng-app` being on `<body>`, it re-renders the entire content and remove the IFrame used by `gapi.auth2`. If I change to:

[code]

The issue does not happen anymore as the IFrame is preserved. Would that solve your problem?

[2017-05-16 16:23] Eljoy commented on #238
@TMSCH Yes, thanks! The solution turned out to be so simple :)

[2017-05-16 16:23] #238 closed

[2017-05-16 16:52] TMSCH commented on #238
You're welcome! Glad you got it to work!

[2017-05-17 15:32] Tug opened #297 "Iframe issue on Safari in private mode"
The Google Sign-In client does not work in Safari private mode.

### How to reproduce

- Open a private tab in Safari.
- Visit a page which uses the google sign-in client to authenticate to a service.
- A pop-up for authentication will open. Confirm all the steps there.
- Once the pop-up closes, nothing happens and the follow up request to `https://accounts.google.com/o/oauth2/iframerpc?action=iss

[2017-05-17 16:41] TMSCH commented on #297
Hi @Tug, I just tried on Safari Private Mode on my Mac OS X and it worked fine. Are you testing this on a iOS device? What version of Safari do you have? (and iOS if it applies)

[2017-05-17 16:54] Tug commented on #297
Thank you @TMSCH.
So I was able to reproduce on macOS Sierra with Safari `10.1 (12603.1.30.0.34)` as well as on iOS `10.3.1`, sorry for not mentioning that in the issue description.

Did you try the steps I described on the issue of our repository? We have a runnable version at https://calypso.live/start/social?branch=try/google-platform-js and the code for this component is [here](https://github.

[2017-05-17 17:33] TMSCH commented on #297
@Tug thanks for the further information. I am indeed able to reproduce the issue on your app. It is not obvious to me what's happening, I will investigate and get back to you.

[2017-05-18 00:34] tnguyen14 opened #298 "How to use API key"
Hi, this is more of a question - your sample shows that the API key should be in the client-side JS/ HTML. However, this guide https://support.google.com/cloud/answer/6310037 says that the API key should be secure and not be exposed publicly. What is the right best practice here?

[2017-05-18 00:58] bochunz commented on #298
For web apps:

- Apply HTTP Referer restriction to the API key
- Rotate your API key periodically

[2017-05-18 03:52] tnguyen14 commented on #298
Thanks. Do you have any reference to how to "Apply HTTP Referer restriction to the API key"?

[2017-05-18 03:56] bochunz commented on #298
Go to https://console.cloud.google.com/apis/credentials, click on the edit button on your API key.

[2017-05-18 03:57] #298 closed

[2017-05-18 04:00] tnguyen14 commented on #298
Ok thanks. Do you think those 2 best practices are worth documenting somewhere?

[2017-05-18 18:31] bochunz commented on #298
They are already in the https://support.google.com/cloud/answer/6310037, right?

[2017-05-18 19:00] tnguyen14 commented on #298
That was confusing to me. In that article, it says the key should not be embedded in the code. In this repo's example, the key is supposed to be included in the code.

Furthermore, there was no mention of HTTP Referer restriction.

[2017-05-19 19:55] kzahel opened #299 "prompt select_account or consent causes 400 error on iframerpc"
This used to work fine but ever since the new signin screen rolled out a few weeks back I am seeing this error when I set prompt to `consent` or  `select_account` when calling `gapi.auth2.init`

Request URL:
`https://accounts.google.com/o/oauth2/iframerpc?action=issueToken&response_type=token%20id_token&scope=openid%20email%20profile&prompt=select_account&client_id=xxx&login_hint=xxx&ss_domain=xxx

[2017-05-19 20:40] TMSCH commented on #299
Hi @kzahel, the `prompt` parameter should be passed to the `signIn` method, not the `init`.

[2017-05-19 21:13] kzahel commented on #299
Thanks! My mistake. It's working great now.

[2017-05-19 21:13] #299 closed

[2017-05-19 21:14] TMSCH commented on #299
Great!

[2017-05-23 18:22] colingoldberg opened #300 "400 Error: Request mask can not be empty"
The page - authSample.html - fails with a 400 error.

I copied the file as is - except filling in the apiKey and clientId.

{
  "error": {
    "code": 400,
    "message": "Request mask can not be empty. Valid paths are: [person.addresses, person.age_ranges, person.biographies, person.birthdays, person.bragging_rights, person.cover_photos, person.email_addresses, person.events, person.genders, pers

[2017-05-23 18:49] bochunz commented on #300
Looks like there's a recent change in the People API. I have fixed the sample, please try with the new version.

[2017-05-23 18:49] #300 closed

[2017-05-24 02:11] Aaron-Zhao commented on #300
On top of this, to include multiple fields you just separate the paths by comma per [this reference](https://developers.google.com/people/api/rest/v1/RequestMask).

For example,
`{
        'resourceName': 'people/me',
        'requestMask.includeField': 'person.names,person.photos,person.email_addresses'
      }`

I noticed that adding space after comma, such as `'person.names, person.photos'`, wi

[2017-05-25 08:24] alexghi commented on #166
I was wondering if there are any updates to this issue? We need to implement the authorization process in a gmail Gadget.

[2017-05-25 15:58] bsittler commented on #166
No updates. Sidebar gadgets are deprecated, contextual gadgets are not. If you avoid modifying your gadget spec URL the origin should remain stable.

[2017-05-26 06:14] john1jan commented on #293
@TMSCH here is the doc.

https://developers.google.com/identity/sign-in/web/incremental-auth

When is user shorter syntax its is not working. But when I use **setScope()** method everything works fine

[2017-05-27 09:16] des1roer opened #301 "not work"
"Not a valid origin for the client: http://xxxx.beget.tech has not been whitelisted for client ID 9999-qweerty.apps.googleusercontent.com. Please go to https://console.developers.google.com/ and whitelist this origin for your project's client ID."

how i can that?

[2017-05-28 09:21] koriguy opened #302 "Loading gapi.load('auth2'...) does not correspond to CSP"
When lazy loading 'auth2' module we get inline style injections in the script
this doesn't correspond with CSP thus we have to allow inline-style

Is there a way to load the auth2 lib without style injection?

[2017-05-30 17:24] bochunz commented on #301
Please go to https://console.developers.google.com/apis/credentials, click on the 'edit' button of your Client ID, and add your site to the origin whitelist.

[2017-05-30 17:24] #301 closed

[2017-05-31 17:06] TMSCH commented on #293
Thanks @john1jan for pointing out this doc. It should actually work with the shorter syntax, so I'll investigate. Have you resolved your issue with the popup being blocked?

[2017-06-01 13:02] ken1ma opened #303 "Invalid cookiePolicy with a Punycode domain on FireFox / IE"
Recently, `gapi.auth2.init` has started throwing `Invalid cookiePolicy` exception when accessed with a Punycode domain on FireFox / IE 11.

We looked into the JavaScript loaded from
[code]
and found the following code:
[code]

When the cookiePolicy (`a` above) is `single_host_origin` (the default value), this security check works expected on Chrome / Safari since the value `window.location.hostnam

[2017-06-01 15:59] TMSCH commented on #303
Hey @ken1ma, thanks for raising this issue. I am very surprised that it is only a recent behavior as we haven't changed this logic in a long time. Are you sure this is a recent behavior?

Anyways, I agree we should address the Punycode issue. We'll work on that and I'll keep this thread updated.

[2017-06-01 16:01] TMSCH commented on #302
Hi @koriguy, I am not sure what's happening here as `gapi.auth2` library has no UI component. Would you be using by any chance, `gapi.signin2`?

[2017-06-02 11:46] ken1ma commented on #303
Hello, @TMSCH.  We have no proof, but I seem to remember that we were able to sign in with a Punycode domain two weeks ago, and my testing team tells me the same.

[2017-06-05 14:47] nkaki commented on #300
I've tried both:
'requestMask':{'includeField':'person.email_addresses'}
'requestMask.includeField':'person.email_addresses'}

and I get this error

Invalid JSON payload received. Unknown name "requestMask": Cannot bind query parameter. 'requestMask' is a message type. Parameters can only be bound to primitive types.

[2017-06-06 01:38] bochunz commented on #300
@nkaki I think your second example should work. What error did you get from trying the second example?

[2017-06-06 07:06] koriguy commented on #302
Hi @TMSCH
when we make the call:
`gapi.load('client:auth2', () => {...})
`

this file is being downloaded

`https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.mLDHj5jhiDw.O/m=auth2,client/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCPA-o7OHfveXK_Wlg8cITPdWFou1A/cb=gapi.loaded_0`

the callback is trying to insert styling

[2017-06-06 08:33] nkaki commented on #300
I get the same error.

[2017-06-06 08:39] nkaki commented on #300
For
`'requestMask':{'includeField':'person.email_addresses'}`
I get:
Invalid JSON payload received. Unknown name "requestMask": Cannot bind query parameter. 'requestMask' is a message type. Parameters can only be bound to primitive types.

For
`'requestMask.includeField':'person.email_addresses'}`
I get:
Request mask can not be empty. Valid paths are: [person.addresses, person.age_ranges, person.b

[2017-06-06 14:52] TMSCH commented on #302
@koriguy I think the styling coming from the library is for the IFrame required by auth2. It dynamically creates the IFrame element and style it such as it is not visible. Is that the styling you mention?

[2017-06-06 19:34] timsama commented on #253
@TMSCH, I'm taking the baton from @carmatdaw on this issue. We've updated from `gapi.auth.authorize` to `gapi.auth2.authorize` (with a flag to allow fast switching between the two), but have come across a problem with our Google Sheets integration, where users who authorized scopes with `gapi.auth.authorize` are not having the same permissions applied when using `gapi.auth2.authorize`, even though

[2017-06-06 20:58] TMSCH commented on #253
Hi @timsama. Thanks for migrating to GSI v2!

The issue you're observing puzzles me, it shouldn't happen. It may be a regression. Could you look at the Network logs, and copy paste here the requests URL that point to `https://accounts.google.com/o/oauth2/iframerpc?action`.

Also, could you copy paste this:

[code]

In the console, and then start the `authorize` flow with GSI v2? It should display

[2017-06-07 06:44] koriguy commented on #302
I can't say for sure since CSP report doesn't specify exactly what is the styling
It just blocks all inline styling so we have a violation. Currently we added an exception for inline-style
('unsafe-inline') but this is ideal since it can expose us to risks

[2017-06-07 15:54] TMSCH commented on #302
@koriguy thanks for the information given. I think I've identified the issue on our end. I will get back to you when it's fixed!

[2017-06-11 08:45] theunreal opened #304 "gapi.client.init() with access token?"
I'm using Google Firebase to authenticate users, and after the user is authenticated I get an access token.

I know that I can use this access token in order to work with google api's, but I can't find any way to work with gapi using this access token.

Is there any way to use gapi assuming I already have an access token?

What I'm trying to do is access the user calendar after simply authenticati

[2017-06-11 14:04] bsittler commented on #304
Have you tried gapi.auth.setToken({access_token:'.....'}) ? It's possible there is a newer/better way to do this, though.

[2017-06-11 17:31] ariasfernando opened #305 "OAuth2 SignIn error at first time"
Hello everyone!

I'm working with Google Sign-In JavaScript through Google OAuth2 API:

[code]
When I try to make signing up a user, meaning that he needs to authorize Google to use my app, through `signIn()` method...

[code]
The Promise object that `signIn()` returns resolves with an error:

[code]

 I checked all [reference](https://developers.google.com/identity/sign-in/web/reference) and I co

[2017-06-11 20:46] TMSCH commented on #304
@theunreal I would recommend using `gapi.client.setToken({access_token:'.....'})`, we added this method recently but haven't documented it yet.

[2017-06-11 21:02] TMSCH commented on #305
@ariasfernando I am not able to reproduce the issue :( could you open the Network logs, look for requests to `https://accounts.google.com/o/oauth2/iframerpc`, and copy paste the full URLs as well as the responses?

[2017-06-11 23:40] kishoregunturu opened #306 "googleUser.grantOfflineAccess is still prompting account chooser"
gapi.auth2.getAuthInstance().currentUser.get().grantOfflineAccess({ 'scope': offlinescopes.join(" ") }).then(function (auth) {
            vm.authResult.code = auth.code;
}

The documentation states that it should skip the account chooser. I am calling the offline access on additional scopes for the current user and it still pops up account chooser. Please advise. I do not want user to login twice

[2017-06-12 00:23] ian-r-rose commented on #287
I would second the need for a real example using `gapi.auth2`. In particular, it is not clear to me that it works at all with the Realtime API (I have tried to migrate a realtime application to `gapi.auth2`, and the realtime client does not seem to pick up the token). Since the documentation for the older `gapi.auth` interface seems to be no longer available (so far as I can tell), it makes target

[2017-06-12 11:58] ariasfernando commented on #305
Yes, of course @TMSCH  !

On window load:
[code]
`{"error":"IMMEDIATE_FAILED","detail":"Not all scopes are approved."}`

[2017-06-12 16:25] TMSCH commented on #306
Hi @kishoregunturu, could you provide the configuration you pass to the `gapi.auth2.init` call?

You should indeed not see the account chooser, i.e. the screen where you can select which Google Account to use. However, it will show an authorization screen so that the user can authorize the scopes requested, even if the scopes were already authorized upon sign in. This is because a code allows to r

[2017-06-12 16:32] TMSCH commented on #287
Hi @ian-r-rose, I will have an example very soon. Regarding your problem, it seems that this is a bug with the Realtime API. I will contact the relevant team.

[2017-06-12 16:36] ian-r-rose commented on #287
Great, thanks @TMSCH !

[2017-06-12 16:58] kishoregunturu commented on #306
Thank you for getting back. Here is my workflow and code
initiated the script tag in the head
 <script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
//the gapi init
 gapi.load('client:auth2', function () {
                gapi.auth2.init({ clie

[2017-06-12 17:08] kishoregunturu commented on #306
[index.txt](https://github.com/google/google-api-javascript-client/files/1068935/index.txt)
Here is my html file with the set up

[2017-06-12 19:42] TMSCH commented on #302
Hi @koriguy, the issue should have been fixed. Let me know if that works!

[2017-06-12 20:15] TMSCH commented on #306
@kishoregunturu thanks for the further information. I indeed see the account chooser screen first, which is a bug. I will investigate and get back to you.

[2017-06-12 20:18] kishoregunturu commented on #306
Thank you so much. Please keep me posted. I have deadline for prod release. Any help will be trully appreciated

[2017-06-13 15:59] nkaki commented on #300
Hello, has anyone looked at this issue?

[2017-06-14 15:11] theunreal commented on #304
Thanks! @bsittler @TMSCH

[2017-06-14 15:11] #304 closed

[2017-06-14 15:13] AlokGupta007 commented on #305
Hi, I am facing this error

Google.initialize({
clientID : "client_id",
});

And the error is
{"type":"error","source":{"bubbleParent":true,"apiName":"Ti.Module","invocationAPIs":[],"_events":{"connect":{},"error":{},"disconnect":{},"login":{}}},"message":null,"status":10,"success":false,"bubbles":false,"cancelBubble":false}

Please help me out this problem.

[2017-06-14 16:20] TMSCH commented on #305
@ariasfernando do you go through a sign-in flow in a popup, before the promise rejects? Could you share a minimal snippet of code that reproduces the issue? Thanks!

@AlokGupta007 this is not the correct library. Please head to the [doc](https://developers.google.com/identity/sign-in/web/) for a Guide on Google Sign-In.

[2017-06-14 18:12] ariasfernando commented on #305
Yes, of course @TMSCH. Note that I'm used a code based on the [example showed in documentation](https://developers.google.com/identity/sign-in/web/build-button), and it happens only at first time that an account tries to sign in. If I reload page after error happens, I can get the user data object. Pretty strange.

[code]

[2017-06-14 18:55] TMSCH commented on #305
@ariasfernando I still cannot reproduce the issue :( What browser are you using? Are you using Incognito mode?

[2017-06-14 19:14] ariasfernando commented on #305
I'm using Chrome 59 and I'm not using Incognito mode

[2017-06-14 19:43] serpalinkieweicz commented on #305
Hi, I'm facing the axactly same problem with exactly same example code of the @ariasfernando.

I've noted that it happens even at the example in the docs: https://developers.google.com/identity/sign-in/web/build-button

To reproduce the issue, please follow these steps:

1. Click the button as marked below:
![image](https://user-images.githubusercontent.com/11880410/27150991-8c623d16-511f-11e7-994

[2017-06-14 21:28] spyeadon opened #307 "Batch requests?"
Does this API support batch requests? And can I use it in tandem with the [Google API Node.js Client](https://github.com/google/google-api-nodejs-client)?

I'm looking for a way to make batch requests to the gmail API so that I can:
1) get a list of 50 message id's using gmail.users.messages.list
2) get the message data for each of those 50 messages using gmail.users.messages.get on each message
3

[2017-06-14 22:51] bsittler commented on #307
This Google API JavaScript client library does support request batching; see the documentation here: https://developers.google.com/api-client-library/javascript/reference/referencedocs#gapiclientnewbatch

This library only works in web browsers and does not work with Node.js - see the list of supported environments here: https://developers.google.com/api-client-library/javascript/start/start-js#su

[2017-06-14 22:51] #307 closed

[2017-06-14 23:43] TMSCH commented on #305
@serpalinkieweicz thanks for mentioning this and giving all these info. Did you try signing in with the @gmail.com or @outlook.com account? I tried the exact same protocol and don't observe it.

@ariasfernando where you maybe using a non @gmail.co account?

[2017-06-15 01:15] spyeadon commented on #307
Thank you!

[2017-06-15 14:15] koriguy commented on #302
@TMSCH great, it seems to work fine now
Thanks for the quick response

[2017-06-15 14:52] TMSCH commented on #302
Awesome! You're welcome :)

[2017-06-15 14:52] #302 closed

[2017-06-16 07:15] rahatjaan opened #308 "Google Signin Popup Language"
I am using the Google Javascript API to show Google Login Popup and authenticate user, using the following sample code and it works fine :

https://developers.google.com/api-client-library/javascript/samples/samples

Issue is that i want to have this google login popup in Swedish language and i am unable to do that. Earlier when using gapi.auth.signIn() i was able to do that using the following sc

[2017-06-16 13:22] ariasfernando commented on #305
Hi @TMSCH! Sorry for the delay, I'm using a @gmail.com account, which obviously is not the same that the account which is owner of the Google App whose client ID I'm using for OAuth.

Thank you @serpalinkieweicz for the info, you're having the exactly same issue.

[2017-06-16 13:54] sutsurikeru1986 commented on #13
@fieyr I am having the exact same issue as yourself - I've recently posted a Stackoverflow question with what I am experiencing: https://stackoverflow.com/questions/44586779/youtube-channel-id-isnt-being-updated-after-signin-via-google-api-firebase

Have you managed to figure out a solution?

[2017-06-16 14:18] serpalinkieweicz commented on #305
I thank you for the help, @TMSCH.

The problem is not happening to me anymore.

Is it possible that this problem is ocurred only here in Brazil?

I've read several news about a Google DNS system failure in Brazil this week. Do you think our problem might be related to this?

And... answering your ask: I've tried with the both accounts. The @outlook.com is not a gmail account, but is a google accou

[2017-06-16 14:42] Blamo27 commented on #300
@nkaki

[code]

[2017-06-16 14:45] Blamo27 commented on #300
You can get the list there : http://i.imgur.com/6SMn4UH.png

[2017-06-16 15:28] ariasfernando commented on #305
No, I just tested and still having the issue :frowning_face:

[2017-06-16 15:55] TMSCH commented on #305
@ariasfernando could you try the flow in an incognito window, after removing the app's permission g( as @serpalinkieweicz explains in a previous comment)?

[2017-06-16 16:01] TMSCH commented on #308
@rahatjaan the Google Sign-In popup language is defined by the language of the user's main Google Account. Could you explain a bit more your use case? What if some of your users' main language is not Swedish?

[2017-06-17 11:51] mkonars opened #309 "popup_closed_by_user when requesting email scope in IE 11"
Hi,
I am using your sample from here:
https://github.com/google/google-api-javascript-client/blob/master/samples/authSample.html

May be similiar to:
https://github.com/google/google-api-javascript-client/issues/293

When I call  gapi.client.init() and specify email scope in IE11 I get error "popup_closed_by_user".
In Chrome it works ok.
If I just set 'profile' scope it's also ok.

Could you help

[2017-06-18 08:32] fieyr commented on #13
@sutsurikeru1986 - No, still waiting for a fix or solution of some sort. :(

[2017-06-18 08:37] sutsurikeru1986 commented on #13
@fieyr That sucks, any update regarding this @TMSCH?

[2017-06-19 14:56] cgilboy opened #310 "Auth and API calls for multiple users in a single session"
Hello!

We would like to be able to authorize multiple accounts (for example, a user's home account and work account) and make API calls for both accounts in one session (for example, get a list of all contacts for both home and work). Is this supported? If so, what is the best way to accomplish this?

Thanks in advance!

[2017-06-19 16:22] TMSCH commented on #310
Hi @cgilboy, this is not currently supported. You can potentially authorize several accounts, by using `gapi.auth2.authorize`, store locally the different `access_token`s received, and use `gapi.client.setToken` before each API call to set the specific user's `access_token`. Would that work?

However, it would not allow to easily fetch a fresh `access_token` when it expires. We are working on a so

[2017-06-19 16:50] lizho-ling opened #311 "Does Advanced usage support exchange auto code for refresh code?"
Hi,

I'm using gapi.auth2.authorize(params, callback) on client side to get auth code, we have to use advanced usage because there are 2 client ids in our web. **Goal** is: pass auth code to web server to exchange for access token and refresh token from Google server.
The parameters I'm using are:
    {
        'client_id': CLIENT_ID,
        'scope': SCOPE,
        'response_type': 'code permissi

[2017-06-19 17:04] TMSCH commented on #311
@lizho-ling this is surprising. Can you try using `response_type: 'code'`, without the `permission`? (I assume you don't need the ID token)

[2017-06-19 17:13] TMSCH commented on #309
@mkonars I am not able to reproduce the issue with IE11 on Windows 10, using the exact code in authSample.html besides the `scopes` variable that I set to `'email'`. Are you using the exact same code too? If not (or if you made several updates), can you post the snippet of code you're using?

[2017-06-19 17:23] cgilboy commented on #310
Hi @TMSCH, thanks for the quick response!

Your proposed solution (`gapi.auth2.authorize` multiple users and make requests w/ the resulting `access_token`) sounds like it would indeed work for our purposes. When the token expires, would we call `gapi.auth2.authorize` again with `prompt: none`? Are there other difficulties with refreshing the token?

Thanks!

[2017-06-19 17:33] cgilboy commented on #310
Looking more closely, there does not appear to be a way to specify which access token/user to refresh with `gapi.auth2.authorize`. Is there another way to refresh a specific user/token?

[2017-06-19 17:55] TMSCH commented on #310
@cgilboy you're right, this is not currently possible to refresh a specific token (but you're idea of calling `authorize` with `prompt: 'none'` is correct). We're already working on a solution to be able to do so, I will update this thread when it's deployed.

[2017-06-19 17:56] lizho-ling commented on #311
I've tried to remove 'permission', still the refresh_code returned is null. Could you help check if advanced way supports exchange for refresh_code?

Thanks!

[2017-06-19 17:56] cgilboy commented on #310
Great, thank you! In the meantime, can a refresh be accomplished via a direct HTTP request?

[2017-06-19 18:22] kospl opened #312 "Using gapi.auth2 in Chrome extension"
I am trying to migrate Chrome extension from gapi.auth to gapi.auth2:

[code]

Gives an error:

Not a valid origin for the client: `chrome-extension://zzzzzz` has not been whitelisted for client ID xxxxxx.apps.googleusercontent.com. Please go to https://console.developers.google.com/ and whitelist this origin for your project's client ID.

But as I use credentials for Application type: Chrome App,

[2017-06-19 19:01] TMSCH commented on #311
@lizho-ling when you authorize an user, are you going through the consent flow that's opened in a popup?

[2017-06-19 19:02] TMSCH commented on #310
Without refresh token, unfortunately not.

[2017-06-19 19:04] TMSCH commented on #312
@kospl `gapi.auth2` does not support Chrome extensions, and the whitelisting problem is not the only issue preventing the library to work in Chrome extensions.

For Chrome extension, I would recommend using [chrome.identity](https://developer.chrome.com/apps/identity).

As an alternative, you could consider using [Firebase Auth](https://firebase.google.com/docs/auth/web/start).

[2017-06-19 19:06] cgilboy commented on #310
Interesting! How does `gapi.auth2.authorize` accomplish refreshing without a refresh token?

[2017-06-19 19:32] TMSCH commented on #310
The IFrame loaded by `gapi.auth2.authorize` is responsible for managing the token refresh, and does not provide the required data or mechanism to the client application, to avoid security issues.

[2017-06-19 20:13] mkonars commented on #309
Hi @TMSCH
Thank you for answer.

Now I think that this is not related to your library. I have created a jsfiddle with this code and the issue is not there. But when I host it on IIS I get this error. However on my private machine I get this error even with 'profile' scope. On my work machine I get this only for 'email' scope. And the issue it only with IE.

I will try to look more into it .

PS: I

[2017-06-19 21:09] TMSCH commented on #309
@mkonars ok let me know what you find. This is currently not possible to get an unminified version.

[2017-06-20 02:30] lizho-ling commented on #311
Yes, I've gone through.

I tried grantOfflineAccess to test if my server works well, with below piece of code, the google server replies back refresh token. So I am wondering where is wrong with the advanced usage?

  GoogleAuth.grantOfflineAccess({
      'redirect_uri': 'postmessage',
      'prompt': 'select_account',
    }

[2017-06-20 02:37] TMSCH commented on #311
@lizho-ling it seems that you uncovered a bug. We are going investigate and update this thread when we it is fixed!

[2017-06-20 03:40] lizho-ling commented on #311
Thanks!! Do you have any ideal when it will be fixed? We are blocked by this, appreciate your help!

[2017-06-20 16:29] timsama commented on #253
@TMSCH Sorry for the delay, I've been traveling for the last two weeks. Here's the request URLs:

`https://accounts.google.com/o/oauth2/iframerpc?action=listSessions&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fspreadsheets&client_id=79338057834-7t65k3vt4c9bcguch7l6vr23ptff13lh.apps.googleusercontent.com&ss_domain=https%3A%2F%2Flocalhos

[2017-06-20 17:02] cgilboy commented on #310
Thanks for helping me understand this. If we want to make progress on supporting multiple users right now, is there a way we can use our server to refresh `access_token`s on behalf of the browser clients?

[2017-06-20 17:12] timsama commented on #253
Although, if the point of that code is to get the URL I'm using to get the client JS, that's `https://apis.google.com/js/client:auth2.js?onload=__gapiLoaded`.

[2017-06-20 17:22] TMSCH commented on #253
@timsama the point of the code I gave you is to get the URL that the popup is opened to, so I'm surprised nothing is logged. Did you do the sign-in flow with prompt=none?

[2017-06-20 17:25] TMSCH commented on #310
For now, if the token expires, you will have to use `gapi.auth2.authorize` with `prompt: 'select_account'` so the user can select the right account to get a token from. This is unfortunately not a good UX... It depends how long your users's sessions are. The token expires in 1 hour.

[2017-06-20 17:46] timsama commented on #253
@TMSCH Ah. Yes, I did.

In the console:
https://accounts.google.com/o/oauth2/auth?response_type=permission%20id_token&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fspreadsheets&openid.realm=&redirect_uri=storagerelay%3A%2F%2Fhttps%2Flocalhost.office.lucidchart.com%3Fid%3Dauth446111&client_id=79338057834-7t65k3vt4c9bcguch7l6vr23ptff13lh.a

[2017-06-20 18:15] TMSCH commented on #253
@timsama could you take a screenshot of the account selection page you're seeing? I'm not able to reproduce the issue.

If you're not using the `id_token`, you can also add `response_type: 'permission'` in the configuration to only request `access_token`. The `id_token` requires basic info grant.

[2017-06-20 18:22] cgilboy commented on #310
Thanks again. I see that it is possible for installed apps to refresh their access tokens:
https://developers.google.com/identity/protocols/OAuth2InstalledApp#offline

I realize that we would not want to let our browser client have access to our refresh token or client secret, but would it be possible to use our server as a proxy to make these refresh requests?

[2017-06-20 18:38] timsama commented on #253
![account_selection](https://user-images.githubusercontent.com/6811196/27349687-55380394-55b5-11e7-8910-23a6a3dde9b0.png)

The URL for the page is
https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=79338057834-7t65k3vt4c9bcguch7l6vr23ptff13lh.apps.googleusercontent.com&as=6f7a271bf3509438&nosignup=1&destination=https%3A%2F%2Flocalhost.office.lucidchart.com&approval_state=!ChRZRG

[2017-06-20 19:11] timsama commented on #253
If it helps reproduce this, I'm doing this in a private browsing session, and logging into lucidchart using username+password, not Google SSO, then connecting initially with `auth` before changing to `auth2` as I've described before.

[2017-06-20 20:56] TMSCH commented on #253
@timsama did you try adding `response_type: 'permission'` in the `gapi.auth2.authorize` call?

[2017-06-20 21:08] TMSCH commented on #310
You can use the server side flow, i.e. Authentication Code exchange to get a refresh token in the server and use it to get fresh access tokens: https://developers.google.com/identity/sign-in/web/server-side-flow

[2017-06-20 21:12] cgilboy commented on #310
Can the fresh access tokens that the server retrieves be sent to and used by the client to make calls to Google APIs? From the docs, I could not tell if those access tokens are only be meant to be used by the server.

[2017-06-20 21:17] timsama commented on #253
@TMSCH Yes, I tried adding `, response_type: 'permission'` to the `authorize` call, and it no longer gives me the account selection or increased permissions dialogs, but I'm still getting the "not all scopes are approved" error.

[2017-06-20 21:17] TMSCH commented on #310
Yes, they can.

[2017-06-20 21:27] TMSCH commented on #253
@timsama do you mean that you are getting the "not all scopes are approved" at the end of the sign in flow?

[2017-06-20 21:28] cgilboy commented on #310
Great. Thanks again for bearing with me!

[2017-06-21 14:14] serpalinkieweicz commented on #305
The error came back today.

[2017-06-21 16:58] nkaki commented on #300
Now I get this error for both `person.emailAddresses` and `person.email_addresses`

`personFields mask is required. Please specify one or more valid paths. Valid paths are documented at https://developers.google.com/people/api/rest/v1/people/get.`

[2017-06-21 17:54] bochunz commented on #300
@nkaki  I think @Blamo27 's format is correct. Have you tried the exact same syntax in @Blamo27 's example?

[2017-06-21 18:04] TMSCH commented on #305
@serpalinkieweicz sorry to hear the issue is still present. We are currently investigating the root cause.

[2017-06-21 18:41] TMSCH commented on #13
@sutsurikeru1986 @fieyr I apologize for the delay, the relevant team is still working on a fix.

[2017-06-21 18:54] TMSCH commented on #306
@kishoregunturu we deployed a fix that will only display the correct account instead of all logged in Google accounts in the account chooser screen. Let me know if that works for you!

[2017-06-21 19:12] timsama commented on #253
Actually, I'm not able to reproduce the "not all scopes are approved" error. It was being returned when I called authorize (with `prompt: none`), but it isn't happening now.

What is happening now is that the authorization appears to work, and I get an access token, but when I try to actually use the token to do a GET on the sheets data (with the authorization header set to `"Bearer " + access_tok

[2017-06-21 19:28] kishoregunturu commented on #306
I want to confirm the fix. It will still show the account chooser second time  but only the logged in accounts??

[2017-06-21 20:22] serpalinkieweicz commented on #305
I noticed that the error does not happen in IE10.

[2017-06-21 20:25] timsama commented on #253
@TMSCH Apologies for the confusing responses. It's been difficult to nail down exactly how to reproduce the 401, but I think I've got it now. So here's what I do to consistently reproduce this (this is with your recommended `response_type: permission` change):

Part 1: The Good
1) Open a new incognito browser
2) Log into Lucidchart (with username/password, not Google Sign-in)
3) Set the flag to us

[2017-06-21 20:42] TMSCH commented on #253
@timsama are you using `gapi.client` to load data from sheets? (if not, you should probably as it is easier to do such requests)
In Part 3., are you using `gapi.auth2.authorize` only?
Could you post here the GET requests URL done to the Google Sheets endpoint for each part and auth library?

[2017-06-21 20:43] TMSCH commented on #305
@serpalinkieweicz what other browser have you tested? Does it consistently work on IE10? (or only most of the time)

[2017-06-21 20:44] TMSCH commented on #306
@kishoregunturu right. I'm currently investigating whether we can skip this screen altogether.

[2017-06-21 20:56] timsama commented on #253
@TMSCH No, I'm using our internal XHR client to construct a GET request. Yes, I am only using auth2 in Part 3. I'll follow up with a list of the GET request URLs once I'm finished constructing it.

[2017-06-21 21:01] serpalinkieweicz commented on #305
I tested it in IE10, IE11, Chrome 58, FF 53 and Safari 10.

In IE10 always works because the URL that opens in the popup is different from the others:

![image](https://user-images.githubusercontent.com/11880410/27406276-c825e45c-56aa-11e7-9b06-b7f203908992.png)

While in others browsers appears like that:

![image](https://user-images.githubusercontent.com/11880410/27406386-0bfa4574-56ab-11e7-95d

[2017-06-21 21:08] timsama commented on #253
@TMSCH It looks like the URLs are the same every time.

Part 1
6. https://sheets.googleapis.com/v4/spreadsheets/1fYfJlg8r2mPsgQSa57MjPEzbFGKHbZlC1ho_aTvtdkk?ranges=Core%20Ex%20Bug%20Commitments&key=AIzaSyAygv9ePDxCV1Ogdtq5PZ5Rnd1USYkpdWI&fields=properties.defaultFormat(backgroundColor%2CtextFormat.foregroundColor%2CnumberFormat.type%2CnumberFormat.pattern)%2Csheets(properties.sheetId%2Cdata(startR

[2017-06-21 21:10] TMSCH commented on #305
@serpalinkieweicz thanks again for all the info! In the browser that have the issue, when you reload the page, is the user directly signed in? (you can see that in the blue button in this section: https://developers.google.com/identity/sign-in/web/build-button#customizing_the_automatically_rendered_sign-in_button_recommended)

[2017-06-21 21:31] TMSCH commented on #253
@timsama would you have any publicly accessible staging environment where I could reproduce the issue? Or a snippet of code that reproduces it?

[2017-06-21 21:59] serpalinkieweicz commented on #305
@TMSCH, that only happens when I'm logged in. :confused:

[2017-06-21 22:33] serpalinkieweicz commented on #305
Wait, no...

Doesn't matter if I'm signed in on my google account or not.

It only happens when I have not this permission:

![image](https://user-images.githubusercontent.com/11880410/27409541-56437db4-56b8-11e7-9c5c-ed4c46334f18.png)

[2017-06-21 22:34] TMSCH commented on #305
@serpalinkieweicz do you have an application where you can change the code where you reproduce the issue? If so, could you add `scope: 'https://www.googleapis.com/auth/drive.readonly'` in the `gapi.auth2.init` call?
Let me know then if you observe the issue.

[2017-06-21 22:46] serpalinkieweicz commented on #305
Dude, it worked! :tada: :confetti_ball: :balloon: :fireworks:

[2017-06-21 22:55] serpalinkieweicz commented on #305
Thanks a lot!

I just thought it was weird cause it was asking for Google Drive's files readonly permission. And I don't need to read these files.

[2017-06-21 22:56] TMSCH commented on #305
@serpalinkieweicz happy to hear that! This means we have identified the root cause of the bug you observed. We are working on a fix that will remove the need of requesting an additional scope. Sorry about the inconvenience in the meantime.

[2017-06-21 23:00] timsama commented on #253
@TMSCH Yes, I'll get it set up for you once my security analyst gives me the OK (which might not be today, since it's 5pm).

On another note, I tried using `gapi.client.request` to get the data from Sheets instead of creating the request with our XHR client, and I'm still seeing the same error.

[2017-06-21 23:08] serpalinkieweicz commented on #305
Right, thanks for your patience and sorry about my poor english. :laughing:

[2017-06-21 23:17] TMSCH commented on #253
@timsama Thanks. I am not able to reproduce such issue with Google a API. In the meantime, could you give me the snippet of code using `gapi.client` that requests the sheets endpoint?

[2017-06-22 01:26] timsama commented on #253
Assuming you have an access token, this is what I was using (most values hardcoded for brevity)
[code]

[2017-06-22 10:06] nkaki commented on #300
I get this error when I use the same syntax in @Blamo27 's example `Requested entity was not found.` using `people.people.get`

But I want to get the list of people in the contacts for the authorized user, so shouldn't I use `people.people.connections.list`?

[2017-06-22 11:12] Blamo27 commented on #300
@nkaki Maybe try this

[code]

[2017-06-22 11:14] Blamo27 commented on #300
No space inside the string 'person.emailAddresses' /!\

[2017-06-22 17:17] nkaki commented on #300
@bochunz and @Blamo27 Thanks it solved it !!

[2017-06-22 17:44] timsama commented on #253
Actually, this version is probably better:
[code]

[2017-06-22 19:36] timsama commented on #253
@TMSCH Ok, the environment is set up. Can you email me to exchange information out of band? tim@lucidchart.com

[2017-06-22 20:04] timsama commented on #253
@TMSCH Some more weird things. If I perform Parts 1 and 2, and then open the same page in a new tab, everything works in the new tab, and stays broken in the old tab. Even when I refresh both tabs, the behavior is consistent. The requests to `sheets.googleapis.com` in both tabs appear to be identical except for the authorization header, in which the bearer tokens are different.

[2017-06-23 00:46] lizho-ling opened #313 "How to access 'https://apis.google.com/js/api.js' in China"
Hi,

Is the API 'https://apis.google.com/js/api.js' available to China users?

[2017-06-23 13:38] radenkozec commented on #46
@bsittler I have a same error when testing from localhost:

Not sure how to solve this?

[2017-06-23 13:49] Mohammadals opened #314 "insert new permission google drive api"
Hello Everyone,
I try to use the javascript to insert a new permission I try to use this script below:
*******************************************
var body = {
                            'emailAddress': "emails@gmail.com",
					'value' : 'emails@gmail.com',
                            'type': "user",
                            'role': "reader"
                          };
	var files = "xxxxx-xxx

[2017-06-23 15:42] bsittler commented on #46
@radenkozec please start a separate entry in the issue tracker and provide more complete details -- although symptoms may be similar, the API not working on non-`http:`, non-`https:` URLs likely has distinct causes from the behavior you are seeing on an `http:` URL.

[2017-06-23 17:51] cgilboy commented on #310
Hi again,

We have implemented the server-side flow as described in the above document. We got an auth `code` by calling `grantOfflineAccess` on the client, but when the server calls `oauth2Client.getToken` (from the [nodejs lib](https://github.com/google/google-api-nodejs-client)) with the auth code or when we manually building a curl request to `https://www.googleapis.com/oauth2/v4/token`, we re

[2017-06-23 21:13] TMSCH commented on #310
@cgilboy there should not be as far as I know. Could you paste:

[code]

In the console, and start the sign-in flow (with the popup opening) and let me know the URL logged in the console?

[2017-06-23 21:21] TMSCH commented on #311
@lizho-ling the fix for `gapi.auth2.authorize` should be live now. Let me know if that works!

[2017-06-24 00:04] bochunz commented on #313
We don't have an official reachability information for IP addresses and DNS entries from behind the firewall. And there is not an up-to-date official list of blocked sites.

[2017-06-26 14:34] cgilboy commented on #310
@TMSCH My mistake! We did successfully receive the refresh token once when we initially ran the authorization flow. Once the app was already authorized, we only received an access token. I believe this behavior is consistent with the documentation. Thanks again for your help.

[2017-06-26 18:00] TMSCH commented on #310
Great! Closing the issue.

[2017-06-26 18:00] #310 closed

[2017-06-26 18:04] bochunz commented on #314
Did you follow the set up steps? https://developers.google.com/drive/v2/web/quickstart/js#step_2_set_up_the_sample

[2017-06-27 02:41] feuerwelt commented on #305
Is this issue already fixed? Or there's another workaround in the meantime, instead of this "google drive scope" approach? Because I'm experiencing the same issue and simply don't know what else to do to solve it .. ://

[2017-06-27 16:33] TMSCH commented on #305
@feuerwelt we are currently working on a fix. Unfortunately there is no other workaround, as this is due to latency issues that can be observed in areas where data centers are more scarce.

[2017-06-27 16:40] #313 closed

[2017-06-27 16:41] #312 closed

[2017-06-27 21:13] TMSCH commented on #253
After offline talk and further analysis with @timsama, the problem appeared to be due to the local caching of tokens performed by `gapi.auth2` (and not `gapi.auth`). After removing the permissions granted to the application by the user, the token remains in the local cache and will be used the next time `gapi.auth2.authorize({...prompt: 'none'...})` is called, even if the token is not valid anymor

[2017-06-28 13:27] Mohammadals commented on #314
Unfortunately, the error still appearing in the log, Please find the attached image
![error in the consol](https://user-images.githubusercontent.com/29659582/27639355-9cbb3906-5c1e-11e7-9e37-37f151d86f55.PNG)

[2017-06-28 13:29] Mohammadals commented on #314
Hello
Unfortunately, the error still appearing in the log, Please find the
attached image.
Please advice

On Mon, Jun 26, 2017 at 9:04 PM, bochunz <notifications@github.com> wrote:

[2017-06-28 16:02] Mohammadals commented on #314
![image](https://user-images.githubusercontent.com/29659582/27647491-3b2ece9e-5c34-11e7-9e99-5c4d00d764cd.png)

also please find the image

[2017-06-29 18:24] Artenes commented on #305
@TMSCH Just reporting that I am also facing the same problem. Followed the tutorial from https://developers.google.com/identity/sign-in/web/build-button and the login always fails in the first attempt, when the user is trying to connect with my application for the first time. In the next attempts the login works without a problema. And I am also from Brazil like @serpalinkieweicz. If I can help in

[2017-06-29 18:34] feuerwelt commented on #305
@Artenes Don't know how critical google login is for your application, but if you really need to use it while this issue is not fixed, try asking for any scope in this list: https://developers.google.com/identity/protocols/googlescopes. Maybe your users won't complain if you ask for some scope like `https://www.googleapis.com/auth/youtube.readonly`. At least, this is what I'm counting on for my ow

[2017-06-29 19:01] serpalinkieweicz commented on #305
@feuerwelt But by requesting an additional scope to make it public, you'll need to [submit](https://support.google.com/code/contact/oauth_app_verification) your application for review by Google. Otherwise the users will have to enter in the [Risky Access Group](https://groups.google.com/forum/#!forum/risky-access-by-unreviewed-apps) to access your app.

[2017-06-30 17:27] fieyr commented on #13
@TMSCH - Any ETA on a fix? Or is the relevant team stumped at the moment? I'd like to know just so I can make a decision on how to proceed.

[2017-06-30 19:31] TMSCH commented on #13
@fieyr I don't have any ETA yet, the team seems pretty busy. However, please note that the response is cached 300 seconds, i.e. 5 minutes, after which the new call will return the correct Channel ID.

[2017-06-30 20:43] TMSCH commented on #311
Closing the issue. Please reopened if you still observe the bug.

[2017-06-30 20:43] #311 closed

[2017-06-30 20:44] TMSCH commented on #309
Closing the issue, reopen if you find that the bug comes from the library.

[2017-06-30 20:44] #309 closed

[2017-06-30 20:44] TMSCH commented on #308
Closing the issue, please reopen if it's still a problem for your use case.

[2017-06-30 20:44] #308 closed

[2017-06-30 20:57] TMSCH commented on #294
@BigYu the fix has been deployed. Let me know if that works!

[2017-06-30 20:59] TMSCH commented on #289
Closing the issue as no follow up was given. Please reopen with more info if this is still an issue.

[2017-06-30 20:59] #289 closed

[2017-06-30 21:18] TMSCH commented on #266
Closing the issue as no follow up was given. Please reopen if the issue is still a problem.

[2017-06-30 21:18] #266 closed

[2017-06-30 21:18] TMSCH commented on #265
Closing the issue as not reproducible. Please reopen if you are still observing the issue.

[2017-06-30 21:20] #253 closed

[2017-06-30 21:21] TMSCH commented on #245
Closing the issue, please follow up with more details if you are still experiencing the issue.

[2017-06-30 21:21] #245 closed

[2017-06-30 21:22] TMSCH commented on #243
Closing the issue. Please reopen if the solution mentioned above does not solve your problem.

[2017-06-30 21:22] #243 closed

[2017-06-30 21:28] TMSCH commented on #214
@yk1711 @maelcaldas the issue has been fixed, `include_granted_scopes=true` is added to the URL (sorry for the late update, it has been for while).

[2017-06-30 21:31] TMSCH commented on #207
Closing the issue as no follow up was given. Please reopen with more details if necessary.

[2017-06-30 21:31] #207 closed

[2017-07-03 09:46] akafaneh opened #315 "Autocomplete return weird/inaccurate data for a specific place in Dubai"
I'm using google maps JS/JQ with autocomplete search bar, it was working fine but when I enter
"Ice Hockey Tower, Falak Properties - Dubai - United Arab Emirates"
and on the listener
"google.maps.event.addListener(autocomplete, 'place_changed', function ()"
i call the function
"autocomplete.getPlace();"
and from the returned object I always used "formatted_Address" and lat(), long() functions to g

[2017-07-03 09:47] HDaghash commented on #315
this is happening with me as well

[2017-07-05 07:20] asalem commented on #315
i do have the same issue

[2017-07-05 08:18] mkonars commented on #309
Hi,
I found that the problem is related to IE11 settings and cache.

You have to go to Internet Options -> Browsing History Settings -> Caches and databases -> and check Allow website caches and databases

After this, you have to clean the cache:
go to Internet Options -> Browsing History Delete - > delete cookies and temporary files

[2017-07-05 16:53] TMSCH commented on #315
@akafaneh this is an issue related to the Maps JS library, please head to the [Support](https://developers.google.com/maps/documentation/javascript/support) section of their doc to find guidance on how to resolve this issue.

[2017-07-05 16:53] #315 closed

[2017-07-05 16:54] TMSCH commented on #309
Thanks @mkonars for finding the root cause of this problem. We haven't observed issues with the default config of IE11 so the impact is very limited.

[2017-07-05 16:59] lcssanches commented on #305
Same here. First time always fail.

I tried to call a second time but I'm getting another error
[code]

I'm on Brazil too.

[2017-07-05 17:00] sodacode commented on #310
Is there a timeline of when an official solution will be available?

[2017-07-05 17:15] lcssanches commented on #305
Without immediate parameter does not work too.

[code]

[2017-07-05 17:33] TMSCH commented on #310
@sodacode could you be more specific? Are you looking for a solution to refresh a specific `access_token` without UI? (i.e. https://github.com/google/google-api-javascript-client/issues/310#issuecomment-309517122)

[2017-07-05 20:11] mjgallag commented on #292
@TMSCH just checking in, any internal response? Thanks!

[2017-07-06 15:47] TMSCH commented on #292
@mjgallag I haven't been able to find any public API that would provide a case sensitive email address. How does the original open source project get it?

[2017-07-06 16:24] mjgallag commented on #292
@TMSCH see my previous comments above

<img width="573" alt="screen shot 2017-05-03 at 12 33 16 pm" src="https://cloud.githubusercontent.com/assets/1046027/25677957/e7a33bd8-2ffc-11e7-9f79-9cffa6cc49c7.png">

[2017-07-06 16:27] TMSCH commented on #292
@mjgallag I got that, I meant to ask couldn't you get the email address using their same technique?

[2017-07-07 14:13] chadjaros commented on #305
I'm in Chicago testing our Google Sign In implementation, and I saw this yesterday with a couple of test accounts. However, I can no longer reproduce this even after removing the App's permissions through the account screens.

[2017-07-07 15:06] lcssanches commented on #305
Not working here.

@chadjaros can you post your code?

[2017-07-07 15:16] chadjaros commented on #305
I'm pulling in `https://apis.google.com/js/auth2.js` through bower because I'm using an angular app and for some reason `gapi.load` silently fails in google incognito when we pull in `https://apis.google.com/js/client.js`.

// Init the library
// this._gapi is the global gapi instance injected into the angular service

    this._gapi.load('auth2', () => {
      this._googleAuth = this._gapi.auth2.

[2017-07-07 16:18] YoannKy opened #316 "Cannot run gapi.client.init multiple times"
Hi there,

I'm currently working on a  angularJs dashboard composed of various widget.

The trouble I am facing is that when I call multiple widgets that use the gapi object, I end up with the following error (ie when I have connected to my gmail widget and I want to sign in to my calendar widget):

_"gapi.auth2 has been initialized with different options. Consider calling gapi.auth2.getAuthInstan

[2017-07-07 17:23] TMSCH commented on #316
Hi @YoannKy,

The documentation is indeed misleading. `gapi.client.init` can indeed be called multiple times, *unless `clientId` and `scope` are specified*. This is due to the fact that specifying these two parameters will initialize `gapi.auth2` under the hood, and it can only be initialized once.

One alternative is to initialize `gapi.client` and `gapi.auth2` independently:

[code]

(notice the

[2017-07-07 23:51] YoannKy commented on #316
Hey @TMSCH,

Thank you for answering me.

It worked, but I had to handle the process a bit differently. This may be wrong though.
Indeed, as the doc said:

https://developers.google.com/api-client-library/javascript/reference/referencedocs#gapiauth2authorizeparams-callback

I had to get rid off everyting that concerns gapi.auth2.init/signIn.

But I have another problem, I would like to bypass the

[2017-07-08 00:07] TMSCH commented on #316
I would recommend calling `gapi.auth2.authorize` with `prompt: 'none'` instead of storing the `access_token` locally, as the library already takes care of storing it locally and will automatically fetch a new one if it expired, or use the cached one.

One thing: you cannot call call `gapi.auth2.authorize` **without** `prompt: 'none'` after a promise's resolution. Most browsers will block the popup

[2017-07-08 01:22] YoannKy commented on #316
I wanted to do that but  the 'none' option states the following thing:

This means that it will throw an error the first time, right ?

Not sure if we are talking about the same thing but I have a sign in button that trigers my initClient() the first time (no access_token stored yet).
What  I want is a way to keep the user logged in without having to display the sign In button.

Well, once I have

[2017-07-08 01:27] YoannKy commented on #316
One thing to mention, is that the 403 error code only occurs when both widgets use the prompt : 'none' property  upon loading my dashboard. So this is from my code, but I don't know where.

[2017-07-08 09:32] YoannKy commented on #316
Just an update, I think that I found out the problem, it is because both my widgets are loaded asynchronously therefore, I can't control the flow of the gapi request, since there are two cases:

- The gmail widget  fetches and resolves the gapi data **before** the calendar one: in this case there is no problem, the same access_token is used for the gmail application

- the gmail widget doesn't fet

[2017-07-09 18:20] YoannKy commented on #316
Alright, it's me again, I resolved the problem yesterday by  manually setting the accessToken, that I stored in the localStorage after a call at auth2.authorize, for my widget before doing the call to the api like so:

[code]

It's quite dirty but it did the trick.

[2017-07-10 11:26] #316 closed

[2017-07-10 17:07] TMSCH commented on #316
@YoannKy glad you resolved the issue. Are the two `gapi.auth2.authorize` calls using different scopes? By default, the call should return an `access_token` with all the already granted scopes (unless `include_granted_scopes: false` is given), so the second call in your case should hold the permission for the gmail api. If it doesn't, it sounds like a bug.

[2017-07-10 19:33] TMSCH commented on #13
@fieyr @sutsurikeru1986  there actually is a work around. The issue is that the HTTP requests fetching the channels is cached by the browser. While waiting on a fix, you can use [batch requests](https://developers.google.com/api-client-library/javascript/reference/referencedocs#gapiclientnewbatch) instead of the usual `gapi.client.request`, that will perform a POST request instead of a GET request

[2017-07-10 20:14] YoannKy commented on #316
@TMSCH , yes the 2 calls are querying diffrent scopes, the drive one uses: _https://www.googleapis.com/auth/calendar.readonly_
whereas the gmail one uses:
 _https://www.googleapis.com/auth/gmail.readonly_  .

Well I didn't set the` include_granted_scope ` parameter so it should be true by default.

 But I don't think it is the problem here since my 2 apps (drive and gmail) are using **differents c

[2017-07-10 21:08] TMSCH commented on #316
Ah you're right I didn't realize the `client_id` was different. In that case, you should indeed manage the different `access_token`s yourself as `gapi.client` will only use the last one obtained otherwise.

[2017-07-10 21:25] YoannKy commented on #316
Yeah, but thanks again for your help. it was really helpful. 👌

[2017-07-10 22:03] TMSCH commented on #316
You're welcome!

[2017-07-11 19:18] o0alexela0o opened #317 "error handling"
Hello, sorry to write here, but I cannot find any doc on this
Is there an error callback for gapi?
for 404 browser errors?

Thanks in advance!

[2017-07-11 19:51] o0alexela0o commented on #317
example:
gapi.loaded
"API discovery response missing required fields."

[2017-07-11 21:16] TMSCH commented on #317
Could you be more specific? What call raises the error?

[2017-07-11 22:24] araujojohnny commented on #305
Any update on this?
I'm facing the same problem. The signIn() result is always an error.

[2017-07-12 08:02] o0alexela0o commented on #317
If i have wrong settings i'm getting this error:

(backbone code)

        this.settings = {
            client_id: "1052423475-mcp4khpg5h01tvo3a58cbv2pu044obai.apps.googleusercontent.com",
            redirect_uris: ["http://localhost:8000"],
            discovery_docs: ['https://www.googleapis.com/discovery/v1/apis/drive/v3/rest'],
            scope: 'https://www.googleapis.com/auth/drive.readon

[2017-07-12 17:40] TMSCH commented on #317
Try replacing:

[code]

by

[code]

And are you saying that you can't capture errors for `gapi.load`? I don't know what gapi.loaded.

[2017-07-13 09:54] o0alexela0o commented on #317
No, this is not a problem.
Errors from requests i can get by:

[code]

what i cannot get is errors in init itself.
for example - if one of the setting values is wrong, i'm getting an error:

![screen shot 2017-07-11 at 22 50 29](https://user-images.githubusercontent.com/4036612/28160946-652e0312-67ca-11e7-9b1b-4e4a8023c14b.png)

[2017-07-13 12:51] ymschaap opened #318 "Better async style to trigger onload in Samples"
[minor] The `samples` directory and the example code on developers.google.com use this snippet for the javascript include tag:
`
<script async defer src="https://apis.google.com/js/api.js"
onload="this.onload=function(){};handleClientLoad()"
onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
`

But that is uncommon way, hacky and prone to issues, luckily the `api.js`

[2017-07-13 17:27] bochunz commented on #317
Did you get a non-200 response for the request to `https://content.googleapis.com/discovery/v1/apis/drive/v3/rest` ?

[2017-07-13 17:50] o0alexela0o commented on #317
Yes, 404 to be precise

[2017-07-13 18:47] bochunz commented on #317
This is probably an internet connectivity problem. Please direct your question to Google Drive API's support at https://developers.google.com/drive/v3/web/support

[2017-07-13 18:48] o0alexela0o commented on #317
its not, it's wrong address of another setting which gapi.init uses.
but ill try. thanks

[2017-07-13 19:03] bochunz commented on #318
The reason we are using that as an example is because the library supports old browsers like IE6, which doesn't support `onload` and we have to use onreadystatechange.

Also, using the `onload` url parameter is going to degrade the browser cache-ability. For websites using `https://apis.google.com/js/api.js`, the browser cache will cache the library across all these sites. However if each site has

[2017-07-13 20:47] ymschaap commented on #318
Not sure if clear, but /api.js already supports the ?onload= parameter, imho it is just much cleaner for a getting started sample snippet.

You can close if you disagree, no issue (pun intended).

[2017-07-13 21:38] bochunz commented on #318
`https://apis.google.com/js/api.js?onload=myFunction` and `https://apis.google.com/js/api.js?onload=yourFunction` won't hit the same cache key in a browser cache. We wanted to use this tiny example to help user websites to have a higher cache hit rate :)

And thanks for your feedback. We will have a discussion on whether to change it to a simpler but a little less efficient way.

[2017-07-14 23:47] TMSCH commented on #305
@silvajonathan could you post a snippet of code to reproduce the issue? I am not sure to understand properly what you're encountering.

[2017-07-17 01:25] sempr254 commented on #61
[Pat Parmus.txt](https://github.com/google/google-api-javascript-client/files/1151466/Pat.Parmus.txt)

[2017-07-19 10:04] petrovy4 commented on #265
Found out that promise returned by `gapi.client.init` is not rejected in case of network problem. In a following example neither `onFulfilled` nor `onRejected` is called:
[code]

Also, is there any way to detect that `gapi.load` fails?

[2017-07-19 17:12] silvajonathan commented on #305
In my case it is a Angular 4 application.

I'm loading the auth2/client objects along with my backend Endpoints client before the angular bootstrap:

[code]

Inside the Angular application, after it loads, I need to make an authorized request with gapi and it looks like this:
[code]
The oauth2callback.html file only redirects back the user to the `/#/` path.

With this `ux_mode` value the browser

[2017-07-20 00:22] TMSCH commented on #265
To detect `gapi.load` failures, you can use the following:

[code]

Where `initClient`, `onTimeoutCallback` and `onErrorCallback` are functions.

It seems that `gapi.client.init` does not reject on *all* network errors indeed. We will address this.

[2017-07-20 00:32] bochunz commented on #265
This is indeed a bug that gapi.client.init won't resolve when it needs to load gapi.auth2. We will work on a fix.

[2017-07-20 06:04] petrovy4 commented on #265
Tnx for a fast reply! Waiting for the fix.

On Thu, Jul 20, 2017 at 3:22 AM, Thomas Césaré-Herriau <
notifications@github.com> wrote:

--
С уважением, Ходько Петр

[2017-07-20 10:44] eelsweb opened #319 "Installing via package managers, usage with webpack and react"
Is there a way to install and use this lib using `npm`. I wish to use it with webpack/react and do not want to add an additional `script` tag just for this lib.
All the examples and guides for the lib want me to include this directly in my html `<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>`, which feels really restrictive.

[2017-07-20 16:11] TMSCH commented on #319
@eelsweb this is currently not possible by design. The reason is that the libraries loaded through `gapi.load` are not versioned, they are constantly updated. Package managers follow a versioned model which is not compatible.

However, we could provide a simple package which would take care of loading the `https://apis.google.com/js/api.js` script for you, thus providing (asynchronously) `gapi.loa

[2017-07-20 16:59] TMSCH commented on #305
@silvajonathan thanks for the explanation. It seems to be the same problem than already mentioned, applied to the redirect mode. We are still looking into it - we should have fixed it in the case where the user perform the sign-in flow in the popup (or within the redirected page). However, it seems to still be an issue when the user just clicks on one of their Google account.

[2017-07-20 17:35] bootstraponline opened #320 "Library maintenance?"
Is this client in `Library maintenance` mode as well? It looks like most of the `google-api-*-client` projects have been marked as such.

- https://github.com/google/google-api-ruby-client/pull/597

[2017-07-20 22:46] jscontreras commented on #64
If you have a token (let's say firebase auth Google Driver Authenticator) then you just need to call it in this way. (Also added language API load)
initClient() {
     this.gapi.auth.setToken({
       'access_token': this.token
     });
     this.gapi.client.load(langAPI).then((data)=>{
       console.log(gapi.client);
     }).catch((error)=> {
       console.log(error);
     });

[2017-07-21 05:19] shermanyin opened #321 "gapi.load() documentation"
I'm new to javascript / gapi.  While looking at samples, gapi.load() is used in many examples, but doesn't seem to have proper documentation (unlike gapi.client.load() here https://developers.google.com/api-client-library/javascript/reference/referencedocs#gapiclientloadurlorobject, for example).  It would be nice if that was added.

[2017-07-21 14:50] TMSCH commented on #321
@shermanyin that's a very good point. I think mentioning in it in gapi.client and gapi.auth2 documentation would help. We will address this.

[2017-07-22 00:38] bernatfortet commented on #25
Hello @TMSCH I don't see this working for me.

[code]
I get an error saying that there's no catch function. is that normal?

[2017-07-23 20:53] atsuya opened #322 "GoogleAuth.grantOfflineAccess doesn't work"
Hi team,

Description:
GoogleAuth.grantOfflineAccess doesn't work. The popup shows up and the flow goes normal until I click on "Allow" button. After clicking on the "Allow" button, it doesn't close its window nor go back to the original page that triggered the popup to show.

It won't get into the same issue when I do authentication without  GoogleAuth.grantOfflineAccess  (I just render the sign

[2017-07-23 22:27] atsuya commented on #322
I should clarify that it was working before, and it stopped working a couple of days ago.

[2017-07-24 09:36] eelsweb commented on #319
For now, I have simply made a local copy of the file `https://apis.google.com/js/api.js` and am importing that in my code, loading `gapi` libs asyncly.
If you do not intend to change this design pattern in the near future, then I guess we should close this issue. Though it would be nice to include a few instructions on how to best use this lib while bundling/usage with webpack etc.

[2017-07-24 15:54] TMSCH commented on #25
@bernatfortet it is not normal, the `catch` function should exist. What does `dispatch(signUp())` do? Can you post the full stack trace of the error?

[2017-07-24 15:56] TMSCH commented on #322
@atsuya I am not able to reproduce the issue. Could you post the snippet of code that reproduces it, with the configuration given?

[2017-07-24 16:04] TMSCH commented on #319
@eelsweb keeping a local copy of this script is highly discouraged. It will always load a specific version of the `gapi` libraries that correspond to when you downloaded this script*. This means you won't be able to get new features, bug fixes, or any updates. We could provide a package as I described earlier, so let's keep this issue open.

**When I said unversioned earlier, I was slightly incorr

[2017-07-24 16:53] eelsweb opened #323 "manually set access_token"
I am trying to use the `Picker` API using [this guide](https://developers.google.com/picker/docs/), and following the guide works fine.

However, my app uses Google sign-in itself to log in the user. Therefore, the  `auth` step in this guide is redundant, as I already have an `access_token` from when the user logged in (I obtain this by exchanging the `auth_code` on the server using the node js go

[2017-07-24 16:57] bochunz commented on #323
This repo isn't the right one for Picker, please redirect your question to the picker's forum.

If you are looking for setting access token to the gapi.client, here's the doc: https://developers.google.com/api-client-library/javascript/reference/referencedocs#gapiclientsettokentokenobject

[2017-07-24 16:58] eelsweb commented on #319
I intend to download the script as part of the build process, so the app gets the new version every time there is a release. This way, I can update the js file while developing, and ensure there is zero chance of anything breaking while in production. I believe providing a package will work exactly the same way, because a particular version of the pkg will be downloaded, and will stay that way unt

[2017-07-24 17:02] TMSCH commented on #319
The package I was mentioning would load asynchronously the `https://apis.google.com/js/api.js` file so it will always use the latest version, independent of the release cycle of your app. Your method is relatively safe too, especially if you only use `gapi.auth2` (and not `gapi.client`), but depends on the frequence of your release cycles.

[2017-07-24 19:47] atsuya commented on #322
@TMSCH Thanks for taking a look at this case. I just tried it myself today again and it seems like it's working. I haven't changed my code so I suppose it's fixed on Google end. Anyhow, thanks!

[2017-07-24 19:48] #322 closed

[2017-07-24 21:37] TMSCH commented on #322
Glad it's working now!

[2017-07-24 22:14] atsuya commented on #322
FYI, it was my code that was causing the issue. I did have an infinite loop 😢

[2017-07-24 22:36] TMSCH commented on #322
Ah great, that makes sense. We hadn't made any change to Google Sign-In library so I was puzzled by this temporary issue ;)

[2017-07-24 22:48] ivmartel opened #324 "Sign in from Google Drive mobile"
Hi, I'm trying to use this API and the Google Drive API to log in and display information contained in DICOM (*.dcm) files stored on Google Drive. The sign in works fine from a desktop browser but fails from the mobile app (v2.7.252.04.33 from 28 Jun 2017) complaining that `sessionStorage is not available in the current the environment` (error: `idpiframe_initialization_failed`).

How would you ad

[2017-07-24 23:35] TMSCH commented on #324
HI @ivmartel, please provide more information on the device used, OS version, and browser used.

[2017-07-25 04:21] bernatfortet commented on #25
Dispatch is part of Redux, it returns a promise, could that be problematic?

I've solved the issue by doing the following:
[code]

[2017-07-25 06:33] ivmartel commented on #324
It's an Android 6.0 device. It has Google Chrome 59.0.3071.125 installed but I do not know if this is what the Google Drive app uses.

I forgot to mention that the error is triggered when calling the `gapi.client.init` in [dwvgapi google.js#L71](https://github.com/ivmartel/dwvgapi/blob/master/src/google.js#L71).

[2017-07-25 12:54] vohzd commented on #319
@TMSCH I've also run into this issue as experienced by @eelsweb - I notice you offer you could provide a package via npm. Could I take you up on that offer?

[2017-07-25 16:29] TMSCH commented on #25
@bernatfortet it could be... The best way to know would be to not use it in the resolution callback  of the `grantOfflineAccess` returned `Promise` (i.e. completely remove the `dispatch( signUp() )` line and try again)

[2017-07-25 16:31] TMSCH commented on #324
This error can be raised when web storage are disabled. We observed that to happen on iOS devices with Chrome in Incognito mode, or Chrome with third party data blocked (on any device). Would you have set any specific configuration such as incognito mode or third part data blocked in Chrome?

[2017-07-25 16:33] TMSCH commented on #319
@vohzd I could but cannot provide any ETA, so I would not count on it in the short term.

[2017-07-25 17:15] bsittler commented on #324
This is in the Android Google Drive App, correct? If so, it's probably using a WebView and that is not a supported environment for this client library

[2017-07-25 19:45] ivmartel commented on #324
Yes, it is the Android Google Drive App. I did not set any specific configuration, just the basic install.

Ok for the not supported, would you know of another solution?

[2017-07-25 23:15] bsittler commented on #324
That's a question about the Google Drive app, and I don't know what auth mechanisms are supported/recommended/possible for it, if any. I recommend finding the appropriate forum and asking there &mdash; unfortunately, I don't know which forum that would be

Closing this as the usage is not supported

[2017-07-25 23:15] #324 closed

[2017-07-26 18:00] TMSCH commented on #321
@shermanyin we added documentation: https://developers.google.com/api-client-library/javascript/reference/referencedocs?hl=en#gapiloadlibraries-callbackorconfig

[2017-07-26 18:00] #321 closed

[2017-07-26 19:18] shermanyin commented on #321
@TMSCH I see the docs, thanks!.

[2017-07-27 15:28] vohzd commented on #319
Thank you - I found a workaround anywho with using https://github.com/ryanjohnston/Load-Google-API which let's you import gapi.

[2017-07-28 16:01] TMSCH commented on #305
@ariasfernando @chadjaros @serpalinkieweicz @Artenes @feuerwelt @silvajonathan a fix is now live in production. Could you test on your end and make sure you don't observe the problem anymore? Thanks!

[2017-07-28 16:10] lcssanches commented on #305
Not working here.

{error_subtype: "access_denied", error: "immediate_failed"}

Also, I note that the application is only connected to my account on the second try, after immediate_failed.

[2017-07-28 16:30] TMSCH commented on #305
@lcssanches I may have talked slightly too fast, my bad. The production push is not yet at 100%. I'll ping the thread when it is!

[2017-07-28 17:01] serpalinkieweicz commented on #305
It has worked! Thanks a lot, @TMSCH. I'll try again in a few hours to make sure if the problem is not occurring anymore. Thanks again.

[2017-07-28 19:01] TMSCH commented on #305
@serpalinkieweicz Great! @lcssanches could you try again now? It should be completely rolled out.

[2017-07-28 21:02] feuerwelt commented on #305
It worked @TMSCH! Thanks a lot! :D

[2017-07-28 22:03] TMSCH commented on #305
Great! Closing the issue now :)

[2017-07-28 22:03] #305 closed

[2017-07-29 00:39] Artenes commented on #305
@TMSCH Just reporting that the problem is gone, thanks a lot for your support!

[2017-08-01 09:46] benpptung opened #325 "gapi.load() create buggy error breaking react component to setState() on IE10 and Safari 8"
Following is the error on Safari 8 and IE 10

[code]

That said, I have to be on 192.168.11.7 to develop, and Google login will not work on this domain, because your Google login should be on localhost or real server. ( However, it's really interesting, your Google recaptcha cannot work on localhost. )

Anyway, on 192.168.11.7, I can expect Google login cannot work, but it works on localhost. I am

[2017-08-01 14:22] lcssanches commented on #305
Sorry for the delay, it's working. Thanks!!!

[2017-08-01 14:44] ivmartel commented on #324
Ok, I asked on stackoverflow: [sign-in-from-google-drive-android-app](https://stackoverflow.com/questions/45325007/sign-in-from-google-drive-android-app)

[2017-08-01 15:59] TMSCH commented on #325
@benpptung could you provide more information? The Google Sign-In library is not a React component so the issue is in the integration of the library into React. Please provide a snippet of code that reproduces the issue.

[2017-08-01 17:06] nagendrabhamidipati opened #326 "Is there a discoverydoc available for Youtube Content Id APIs to use in the Javascript"
Hi

Is there a discovery doc available for YouTube Content Id API? I am trying to write a JavaScript client that calls the YouTube Content ID API to retrieve claims information. I tried different approaches for the discovery docs. But none of them worked and when I use https://www.googleapis.com/discovery/v1/apis/youtube/partner/v1/rest, I am getting error "API Discovery Response missing required

[2017-08-01 22:43] bsittler commented on #326
I'm not knowledgeable about that API, but I believe you may have a typo in that URL. Does it work if you spell it like this?

https://www.googleapis.com/discovery/v1/apis/youtubePartner/v1/rest

[2017-08-02 01:03] bsittler commented on #326
Closing as this is not the right issue tracker for that API

[2017-08-02 01:03] #326 closed

[2017-08-04 14:16] adobs opened #327 "Unable to obtain phoneNumbers"
With the following discovery and scope, I am successfully able to obtain 'names' and 'emailAddresses'.  **However, I am unable to obtain 'phoneNumbers'.**
[code]

This yields the following error: "Requested entity was not found."

However,
`gapi.client.people.people.get({
					resourceName: 'people/me',
          			personFields:'names'})
				.then(function(response) {
					userFirstName = respons

[2017-08-04 19:11] mjgallag commented on #292
@TMSCH we found a workaround for this, thank you for your help!

[2017-08-04 19:11] #292 closed

[2017-08-04 19:23] TMSCH commented on #292
Glad to hear that! How did you end up doing?

[2017-08-04 20:25] mjgallag commented on #292
@TMSCH I don't think there would have been a way to get case sensitive email using the same technique (old app engine login form above) without putting the user thru a strange additional login flow. Turns out it was available in the file being imported we just couldn't trust it, but we decided it was safe to trust it assuming it only differed by case.

[2017-08-04 22:14] TMSCH commented on #292
@mjgallag thanks for explaining.

[2017-08-07 19:49] serkolch opened #328 "Accessing user information AND authorization code"
Hi there,

I have a BE already set up for Google Sign In (works on our Android app) that requires user information and an authorization code to validate. My question is two-fold:
1- Is it possible to access the authorization code from the authentication behavior?
2- Can I get user information from the authorization flow?

In scenario 1 (authentication), I am able to pull a googleUser and get their

[2017-08-07 21:16] TMSCH commented on #328
Hi @serkolch, the user's information is actually contained in the `id_token` returned. When using `gapi.auth2.init`/`signIn`, which has a notion of "User", the library unpacks it and creates the `GoogleUser` object with basic profile information.
If you want to get both the `code` and the profile information, you'll have to use scenario 2 and decode the `id_token` by using a JWT library decoder.

[2017-08-07 22:25] serkolch commented on #328
@TMSCH
Thank you so much! I was struggling too long with this before I opened a stack overflow thread and an issue here. I don't know if I'm just stupid / tired or if the documentation is lacking, but it just did not click to me that the id_token could be decoded.

[2017-08-07 22:25] #328 closed

[2017-08-07 22:29] TMSCH commented on #328
@serkolch glad that solves your issue! There is indeed no mention in the Google Sign-In JS SDK doc on decoding the ID Token client side (in JavaScript), as it is usually unnecessary, so it's not your fault! It is mentioned in the [backend auth section](https://developers.google.com/identity/sign-in/web/backend-auth) though.

[2017-08-09 09:44] nsvt100 opened #329 "How to get Access token and refresh token while using Box API by Javascript"
Hi,

How to get Access token and refresh token while using Box API by JavaScript. I have client id and secret and then i am generating authorisation code in redirect url. and then I am able to get access token and refresh token by Postman. Is there any way to do all automate by JavaScript.

[2017-08-09 16:12] TMSCH commented on #329
Hi @nsvt100, you cannot obtain the refresh token from the JavaScript library, as the client secret should **never** be exposed in the client, always remain in your server. You can obtain the access token though, read the doc [here](https://developers.google.com/identity/sign-in/web/sign-in).

[2017-08-10 09:23] akumarmca commented on #117
Same problem with me..

https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.g0SsD3nZybw.O/m=client/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCNy9nhO1CNK4nx_ImBk80FYyCM9Ig/cb=gapi.loaded_0

Status : 404

[2017-08-10 15:55] TMSCH commented on #117
@akumarmca how are you loading that URL?

[2017-08-10 17:00] bsittler commented on #117
@akumarmca saving a copy of the scripts from https://apis.google.com is not supported and leads to exactly these errors. I think that was a version from four months ago so I'm not surprised a copy of it no longer works.

[2017-08-11 15:38] bkoski commented on #260
It would be helpful if this was covered in the [docs](https://developers.google.com/api-client-library/javascript/features/authentication) as a known issue and potential caveat.

We recently ran into this on a project during final testing, then had to scramble a server-side flow instead.  (This seems like the only workaround, other than prompting users to change security settings in their browser?

[2017-08-11 16:03] TMSCH commented on #260
@bkoski we will add this to the documentation, you're right, it should be mentioned. Server-side flow is indeed the most widely supported mechanism for now, as it doesn't rely on any storage or other characteristics of the browser. Keep in mind that such option in Chrome, block third party data, is not the default and a pretty advanced feature that most users won't have enabled.

[2017-08-11 16:26] philovivero commented on #260
@TMSCH Privacy-conscious users enable it, and privacy-conscious tech geeks who set up systems for their less-technically-abled family and friends may also enable it. I never specifically enabled it on my system. I suspect one of the various privacy plugins I installed toggled it for me. I suspect there are many ways it becomes enabled where a non-advanced user will be the one suffering the consequ

[2017-08-11 17:33] TMSCH commented on #260
@philovivero that's true. However, in recent browsers, the "Incognito", "InPrivate" or "Private" modes tend to have supplanted such option. It used to be very prominent in the browser's settings (I remember specifically IE), when now, it is relegated to a subcategory of advanced settings (eg Chrome), if not completely removed (I can't find the option in my version of Firefox).To be noted: in these

[2017-08-14 01:25] eelsweb commented on #319
my solution with `React` right now, if someone is interested -

	componentDidMount() {
		const gapiScript = document.createElement('script')
		gapiScript.src = 'https://apis.google.com/js/api.js?onload=onGapiLoad'
		window.onGapiLoad = function onGapiLoad() {
			gapi.load('auth', {'callback': onAuthApiLoad})
			function onAuthApiLoad() {
				gapi.auth.init()
			}
		}
		document.body.appendChild(ga

[2017-08-15 11:22] o0alexela0o opened #330 "Sharing colors of public folder (folderColorRgb)"
Hey,I made public folder and gave inner folders colors.
Cannot share folder colors.
All other info comes well except the color.
How can I resolve this?Thanks

[2017-08-15 15:01] TMSCH commented on #330
Hi, this is not the correct repo to ask this question, I have no idea what you are referring to.

[2017-08-15 15:01] #330 closed

[2017-08-15 19:07] serkolch opened #331 "Popup closed/blocked after grantOfflineAccess()"
I have GoogleSignIn in a React component. I'm trying to grant offlineAccess so that I can pull the auth_code out in the corresponding callback/promise. However, I inconsistently get either 'pop_upblocked_by_browser' or more usually 'popup_closed_by_user'.

I initialize as

[code]

In the React component, I attach the click handler in componentDidMount

[code]

In my service, the success function i

[2017-08-15 22:50] TMSCH commented on #331
Hi @serkolch, the current implementation has issues. `auth2.attachClickHandler` already handles the logic of starting the sign in flow. What happens here is this:

1. User clicks button.
2. `attachClickHandler` internals calls `GoogleAuth.signIn`. This opens a popup to the consent flow.
3. User signs in successfully.
4. The callback `service.googleSignUp` is called.
5. This triggers the `grantOffl

[2017-08-16 16:24] serkolch commented on #331
@TMSCH
Thanks for letting me know! That frankenstein flow I created is what happens when you just desperately stackOverflow to get answers.

So if I do grantOfflineAccess() to get the code, can I get profile information with it? I tried passing `{ scope: 'profile email' }` into grantOfflineAccess(), but it still only returned the code. And I suppose I can't combine both grantOfflineAccess() and si

[2017-08-16 18:46] TMSCH commented on #331
@serkolch you cannot get the profile information from the client if you use `grantOfflineAccess`. You would have to pass the code back to the backend, exchange it, and then call Google APIs to get the user's information.

However you could use [`gapi.auth2.authorize`](https://developers.google.com/identity/sign-in/web/reference#advanced) and pass `response_type: 'id_token code'` as well as `scope:

[2017-08-16 19:15] kiriti999 opened #332 "Google interactive post button doesn't render"
The share button appears only when I use gapi.plusone.render('gShare', self.gShareOptions);

where as with `gapi.interactivepost.render('gShare', self.gShareOptions); `the button doesn't appear at all.

I am using the script as follows:

[code]
And on loading the button explicitly:

[code]

[2017-08-16 19:27] bsittler commented on #332
Please follow the steps in https://developers.google.com/+/web/support to report the gapi.interactivepost issue and/or seek help. This GitHub repository is for the REST API-calling and authentication-related components of gapi.client.

[2017-08-16 19:27] #332 closed

[2017-08-16 19:40] serkolch commented on #331
@TMSCH Hmmm, I did have that before, but it didn't seem to work as intended with an existing BE implementation for an Android app (which is able to get a serverAuthCode and profile information in one call, unless it's just abstracted and it appears to be one call to me).

Seems to me that I just can't integrate with the BE as is - to me it seems that it should only ask for the authorization code a

[2017-08-16 19:48] TMSCH commented on #331
@serkolch An OAuth 2.0 flow will not return the profile information as part of the first step of the *Authorization Code flow*. It may return it once you exchange the code for an access_token. Otherwise your backend most certainly was performing another call, using the `access_token`, to get the profile information.

[2017-08-16 19:48] #331 closed

[2017-08-21 18:49] bxboxer219 opened #333 "signIn and then grantOfflineAccess, or grantOfflineAccess without popup_blocked_by_browser"
Hello,

I am working on a MEAN app that uses Auth0 for user authentication.

I would now like to utilize some Google APIs in the app.

The app will eventually have automated features that run when the user is offline, so I believe I will need to grantOfflineAccess to the app.

When the user grants authorization, I would prefer to redirect to the OAuth2 consent page, and then grantOfflineAccess onc

[2017-08-21 23:27] TMSCH commented on #333
Hi @bxboxer219, just to clarify: are you saying that your server will perform some tasks communicating to the Google APIs while the user is not on the app?

Please provide a snippet of code calling `grantOfflineAccess`. If triggered synchronously after a user click, it should not be blocked by the browser.

[2017-08-25 13:43] adrienjamot commented on #304
@TMSCH Can you explain how to use this method ??

I'd like to allow my users to upload their videos directly in my Youtube channel without login, is that possible ?

[2017-08-27 19:54] aaronbuchanan commented on #235
How was the issue "fixed"?

[2017-08-29 17:53] dblock commented on #232
Wrapping `signIn` into a promise as suggested above worked for me in https://github.com/dblock/slack-sup/commit/b26d4706ff103a0637f8afb64aa8a1ed556d7597.

[code]

[2017-08-31 12:10] sbsusant opened #334 "gapi.client.init() promise fails silently, No Error, No warning"
I am using this for Google drive upload for a Cordova project and successful on browser platform. But it does not work in Cordova android web view. I am using Genymotion for Emulation and my code is below:

var CLIENT_ID = 'xxxxxxxxxxxx.apps.googleusercontent.com';
	var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/drive/v3/rest"];
	var SCOPES = 'https://www.googleapis.com/auth/d

[2017-08-31 15:39] bsittler commented on #334
Cordova apps (and other webviews) are not supported by gapi.client.

From [https://developers.google.com/api-client-library/javascript/start/start-js#supported-environments](https://developers.google.com/api-client-library/javascript/start/start-js#supported-environments) :

[2017-08-31 15:39] #334 closed

[2017-08-31 16:44] sbsusant commented on #334
Thanks for your reply.

[2017-09-01 08:04] mightymatth commented on #333
Really strange, but today I also came up with this problem. Here is my piece of code:

[code]

Is there a way to make `signIn()` and `grantOfflineAccess()` with the same auth instance? Or, better solution, is it possible that *server authorization code* is sent in response of the first request (`signIn()`)? If yes, how?

[2017-09-04 06:55] sach2211 commented on #232
Still facing this issue -
`
var h = function () {
      window.gapi.load("auth2", () => {
      var auth2 = window.gapi.auth2.init({
        client_id:<my_client_id>,
        cookiepolicy: "single_host_origin"
      });
      auth2.then((gAuth) => {
      gAuth2.signIn()
      .then((z) => {console.log("yes", z)})
      .catch((y) => {console.log("no", y)})
	  }))
})}
`

Doing anything wrong here

[2017-09-04 07:08] sach2211 opened #335 ".signIn() method does not return a promise."
Still facing this issue -

Attaching the snippet below -
[code]

Doing anything wrong here ?

The error I get is
```TypeError: gAuth2.signIn(...).then(...).catch is not a function```

[2017-09-05 16:35] jamierytlewski opened #336 "Google Drive drive.files.create path"
How come the path for google drive with drive.files.create won't change with the JavaScript API?

If I look here:

https://www.googleapis.com/discovery/v1/apis/drive/v3/rest

When you use create the path should switch. Is it mandatory that if you are using JavaScript/client-side that you must use CORS?

I see [here](https://developers.google.com/api-client-library/javascript/start/start-js#option-

[2017-09-05 17:18] bochunz commented on #336
This JavaScript library for browser is written differently from the Node.js library. The two libraries don't have any relationship.

[2017-09-05 21:03] TMSCH commented on #335
Your code has `gAuth` as parameter of the resolution function after the `init` call and then use `gAuth2`. Is that a typo in the snippet or your code?

[code]

[2017-09-05 21:05] TMSCH commented on #305
Great to hear that! Thanks for the reports.

[2017-09-05 21:06] TMSCH commented on #333
@mightymatth you can use [`gapi.auth2.authorize`](https://developers.google.com/identity/sign-in/web/reference#gapiauth2authorizeparams-callback) and request `'permission code'` as `response_type`.

[2017-09-05 21:57] TMSCH commented on #235
@aaronbuchanan by using different cross-window cross-origin communication mechanism.

[2017-09-06 09:17] sach2211 commented on #335
@TMSCH  It was a typo in snippet, sorry , corrected the snippet above.

[2017-09-06 16:57] scruffian commented on #297
@TMSCH did you find anything?

[2017-09-06 17:26] TMSCH commented on #335
@sach2211 this is indeed a bug. We will fix this.

[2017-09-06 20:06] alinnert commented on #319
I just found this documentation page: https://developers.google.com/identity/protocols/OAuth2UserAgent#prerequisites

It describes how to authenticate, get access tokens and use Google APIs using nothing but HTTP requests (when you click on the "OAUTH 2.0 ENDPOINTS" tab above the code examples). This way one could bypass `api.js` entirely and write their own mini library (or a full-featured if you

[2017-09-07 10:01] nahtemf opened #337 "checkSessionState does not work when loading prototype.js 1.6.x"
If you load prototype.js 1.6.x and execute gapi.auth.checkSessionState, the browser will become unresponsive.

It was working until last week, but it stopped working since yesterday.

The process of escaping the character "check_session_state" with the gsub function of prototype.js looped

Attaching the snippet below

[code]

[2017-09-07 15:24] TMSCH commented on #337
@nahtemf `gapi.auth` is no longer maintained. Furthermore `gapi.auth.checkSessionState` is not documented. If prototype.js 1.6.x breaks it, and you really want to use `gapi.auth.checkSessionState`, I would recommend downgrading it to 1.5.x.

However I would much rather recommend migrating to [GSI v2](https://developers.google.com/identity/sign-in/web/sign-in), it will take away the pain of managin

[2017-09-07 20:45] bsittler commented on #337
@nahtemf prototype.js 1.6.x is quite old and has some serious problems around JSON handling. It supplies toJSON methods on some of the core JavaScript object prototypes that are broken. We recently changed our JSON serialization to use window.JSON which invokes those toJSON methods

[2017-09-08 01:46] nahtemf commented on #337
@TMSCH @bsittler
Thanks for your reply.

[2017-09-08 01:46] #337 closed

[2017-09-10 03:34] ravikumarvf commented on #46
Is there any conclusion on this ? about how to make it run locally ?

[2017-09-11 17:37] bsittler commented on #46
It should work fine with a local web server using `https:` or `http:` URIs. Other URI schemes are not supported at present.

It cannot work correctly served from a `file:` URI due to lack of consistent and complete cross-browser support for such non-web origins. For instance, `file:` URIs do not have a consistent definition of web origin, do not have access to needed storage, are not accurately re

[2017-09-11 19:39] TMSCH commented on #297
I am not able to reproduce this behavior anymore... I reproduced the steps in @Tug's first comment using https://developers.google.com/identity/sign-in/web/sign-in#add_a_google_sign-in_button and it works fine. I am using Safari 10.1.2 Private Mode on macOS.

@scruffian would you have more details on your setup?

[2017-09-12 13:46] sundaresan-venkatesan commented on #337
Hi,

  We were facing facing a similar issue last week, but we're not able to replicate it now. Although we didn't make any changes from our end. Is this issue resolved ?

[2017-09-12 14:59] o0alexela0o opened #338 "Google drive API subfolders list issue on other accounts"
Having some strange issue.I have public shared folder i'm working on within my app.with my user i can get folder and subfolders and all items inside.But once i login with test user and trying get get the same, wired thing is happening: i'm getting first children of main folderbut once i'm trying to get items from each child folder, result is empty and without any error.What should i do?my user wor

[2017-09-12 15:00] o0alexela0o commented on #317
found solution for this:
error handeling is pretty good:

for example:

[2017-09-12 16:04] bochunz commented on #338
This repo is for the general API JavaScript Library. For question specific to the Drive API, could you direct your question to https://developers.google.com/drive/v2/web/support?

[2017-09-12 16:04] #338 closed

[2017-09-12 16:14] o0alexela0o commented on #338
please explain what does that mean general? my issue is not general?

[2017-09-12 16:34] TMSCH commented on #337
@sundaresan-venkatesan yes the issue was resolved on our end.

[2017-09-12 16:35] #317 closed

[2017-09-12 16:38] sundaresan-venkatesan commented on #337
Thank you so much @TMSCH

[2017-09-12 16:47] bsittler commented on #337
@nahtemf thanks for your report. As @TMSCH says, gapi.auth is no longer recommended, but in any case the issue should now be resolved

[2017-09-13 17:16] TMSCH commented on #337
Glad it's working!

[2017-09-13 22:48] bochunz commented on #338
By general, I mean this library works for all Google's APIs, including Gmail, Google Drive, Google Calendar, etc. For questions specific to the Google Drive API, please direct your question to the Google Drive API's support.

[2017-09-15 19:21] TMSCH commented on #335
@sach2211 We rolled out a fix. Let me know if that works for you!

[2017-09-15 23:31] galtroarc opened #339 "GoogleUser.grant fails with TypeError: Cannot read property '$k' of undefined"
GoogleUser.grant was working perfectly fine before (for a year now) but has stopped working today in all our products that use Google Identify. Please see the screenshot below of the symptoms. Both the code and the error are captured in it.
Description:

* Call to GoogleUser.grant fails - we have made sure we are doing everything right by process, sequence etc. This call is for incrementally autho